@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default;
    overflow-x: hidden;
}

html.hidden {
    overflow: hidden;
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    background: transparent;
    text-decoration: none;
    color: initial;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

body {
    margin: 0;
    float: left;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
    padding-top: 160px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.hidden {
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 130px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 0 20px;
    z-index: 5;
}

p {
    margin: 0;
}

img, video, picture {
    max-width: 100%;
}

img.fit, video.fit, picture.fit {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.mobile_visible {
    display: none;
}

@media screen and (max-width: 780px) {
    .mobile_hidden {
        display: none !important;
    }

    .mobile_visible {
        display: block;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: calc(50% - 19px);
}

.slick-arrow.prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: -20px;
}

.slick-arrow.next {
    right: -20px;
}

@media screen and (max-width: 500px) {
    .slick-arrow svg {
        width: 17px;
    }

    .slick-arrow.prev {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        left: 0;
    }

    .slick-arrow.next {
        right: 0;
    }
}

.slick-dots {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-dots li {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #000;
}

.slick-dots button {
    display: none;
}

img[data-lazysrc] {
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

img[data-lazysrc].load {
    transition: 2s;
    opacity: 1;
    visibility: visible;
}

.red {
    color: red;
}

.light_blue {
    color: #2DB1E6;
}

[data-popup] {
    cursor: pointer;
}

.title {
    color: #1C3F97;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {
    .title {
        font-size: 22px;
    }
}

.title_wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 780px) {
    .title_wrapper {
        margin-bottom: 30px;
    }
}

.title--product {
    font-weight: bold;
    font-size: 56px;
    text-transform: initial;
    margin: 50px 0 70px;
}

@media screen and (max-width: 500px) {
    .title--product {
        font-size: 30px;
        margin: 40px 0 30px;
    }
}

.section {
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}

@media screen and (max-width: 980px) {
    .section {
        margin-bottom: 50px;
    }
}

.section--background {
    padding: 100px 20px;
    background: url(../img/bg-big.png) center/cover no-repeat;
}

.section--background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 780px) {
    .section--background {
        padding: 30px 0;
    }
}

.section--background_small {
    background: url(../img/bg-small.png) center/cover no-repeat;
}

.section--background_only_color {
    background: #F0F1F6;
}

.section--width_slider {
    overflow: hidden;
}

.section--no_margin {
    margin-bottom: 0 !important;
}

.description {
    color: #1C3F97;
    line-height: 20px;
    font-weight: 500;
}

@media screen and (max-width: 780px) {
    .description {
        font-size: 14px;
    }
}

.tab_section__tab_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

@media screen and (max-width: 780px) {
    .tab_section__tab_container {
        padding-bottom: 30px;
    }
}

.tab_section__tab {
    font-weight: 600;
    font-size: 20px;
    color: #1C3F97;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    padding: 16px 30px;
    margin: 1px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .tab_section__tab {
        font-size: 12px;
        padding: 7px 8px;
    }
}

.tab_section__tab.active {
    color: #fff;
    background: #1C3F97;
}

.tab_section__tab.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.tab_section__content {
    position: relative;
}

.tab_section__content_tab {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

.tab_section__content_tab.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.tab_section--products .tab_section__tab {
    -ms-flex-positive: 0;
    flex-grow: 0;
}

input {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    height: 60px;
    padding: 0 20px;
    color: #fff;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    color: #fff;
}

input:-ms-input-placeholder {
    color: #fff;
}

input::-ms-input-placeholder {
    color: #fff;
}

input::placeholder {
    color: #fff;
}

@media screen and (max-width: 500px) {
    input {
        height: 45px;
        font-size: 14px;
    }
}

/* END common styles */
/* COMPONENTS */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header__line {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__top {
    height: 70px;
    background: #fff;
}

.header__top a {
    color: #1C3F97;
}

.header__main {
    height: 90px;
    background: #1C3F97;
}

.header__additional_menu {
    display: -ms-flexbox;
    display: flex;
}

.header__additional_menu a {
    margin-left: 40px;
}

.header__additional_menu .phone {
    font-weight: 600;
}

.header__additional_menu .callback_btn {
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #1C3F97;
    font-weight: 500;
    cursor: pointer;
}

.header__main_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__main_menu .memu_item {
    margin: 0 25px;
}

.header__main_menu .memu_item a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.header .froze {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header .froze img {
    margin-right: 15px;
    position: relative;
}

.header .burger {
    cursor: pointer;
    position: relative;
    display: none;
}

.header .burger__line {
    display: block;
    width: 35px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    margin: 5px 0;
    transition: .5s;
    position: relative;
}

.header .burger .line-3 {
    position: absolute;
    top: 8px;
}

.header .burger--active .line-1 {
    opacity: 0;
}

.header .burger--active .line-2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header .burger--active .line-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header .burger--active .line-4 {
    opacity: 0;
}

@media screen and (max-width: 1200px) {
    .header .burger {
        display: block;
    }

    .header__main_menu {
        display: none;
        position: fixed;
        top: 160px;
        left: 0;
        background: #1C3F97;
        padding: 20px;
        width: 100%;
        border-top: 1px solid #fff;
    }

    .header__main_menu .memu_item {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .header .froze {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .header__top .header__line {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .header__additional_menu a {
        margin: 0;
    }

    .header__additional_menu a:not(.phone) {
        display: none;
    }

    .header__additional_menu .callback_btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header .logo {
        width: 180px;
        height: 100%;
        padding: 10px 0;
        position: relative;
        left: -30px;
    }

    .header .logo svg {
        max-width: 100%;
        max-height: 100%;
    }

    .header__main {
        height: 60px;
    }

    .header__main_menu {
        top: 130px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: #E5E5E5;
    padding: 80px 60px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000 #eee;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.popup::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #eee;
}

.popup::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #000;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
}

.popup__close {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 50;
    border-radius: 50%;
    background: url(../img/icons/popup-cross.svg) center no-repeat, #fff;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup {
        padding: 80px 20px;
    }

    .popup__close {
        width: 46px;
        height: 46px;
        background-size: 12px 12px;
        top: 30px;
        right: 20px;
    }
}

.footer {
    color: #1C3F97;
    padding: 55px 0 50px;
}

.footer__main {
    margin-bottom: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer__main {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.footer__logo {
    margin-right: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .footer__logo {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .footer__logo {
        width: 150px;
    }
}

.footer__menu {
    font-weight: 500;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.footer__menu a {
    color: #1C3F97;
    padding-right: 70px;
    text-transform: uppercase;
    margin: 10px 0;
}

@media screen and (max-width: 1024px) {
    .footer__menu {
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 30px 0 50px;
        width: 100%;
    }
}

.footer__contacts {
    width: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer__contacts .social {
    margin-bottom: 15px;
}

.footer__contacts .social a {
    margin-right: 15px;
}

.footer__contacts .social a:last-child {
    margin: 0;
}

.footer__contacts .phone {
    font-weight: 600;
    font-size: 16px;
    color: #1C3F97;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    .footer__contacts {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .footer__contacts {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .footer__contacts .social {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .footer__contacts .geo {
        display: none;
    }
}

.footer__bottom {
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}

.advantages__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.advantages__element {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc(100% / 6);
}

.advantages__icon {
    width: 100px;
    height: 100px;
    background: #1C3F97;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
    border-radius: 50%;
}

.advantages__text {
    color: #1C3F97;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .advantages {
        padding-bottom: 100px;
    }
}

.advantages .slick-arrow {
    top: calc(100% + 20px);
}

.advantages .slick-arrow.prev {
    left: 25px;
}

.advantages .slick-arrow.next {
    right: 25px;
}

.white_advantages .advantages {
    padding-bottom: 0 !important;
}

.white_advantages .advantages .title {
    color: #fff;
}

.white_advantages .advantages__icon {
    background: #fff;
}

.white_advantages .advantages__icon path {
    fill: #1C3F97;
}

.white_advantages .advantages__text {
    color: #fff;
}

.white_advantages .advantages .slick-arrow {
    top: calc(100% + 10px);
}

.white_advantages .advantages .slick-arrow svg path {
    fill: #fff;
}

.product_wrapper .product_slider {
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

@media screen and (max-width: 500px) {
    .product_wrapper .product_slider {
        padding-bottom: 50px;
    }

    .product_wrapper .product_slider .slick-arrow {
        top: calc(100% - 30px);
    }

    .product_wrapper .product_slider .slick-arrow.prev {
        left: 0;
    }

    .product_wrapper .product_slider .slick-arrow.next {
        right: 0;
    }
}

.product_wrapper .product {
    background: #fff;
    padding: 20px 0;
    width: calc(100% / 3);
    margin: 0 15px;
}

.product_wrapper .product__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    text-transform: initial;
}

.product_wrapper .product__img {
    margin-bottom: 20px;
}

.product_wrapper .product__sizes {
    padding: 0 20px;
    margin-bottom: 20px;
}

.product_wrapper .product__sizes .size {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 5px 0;
    position: relative;
}

.product_wrapper .product__sizes .size::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    width: 100%;
    border-bottom: 1px dashed #000;
}

.product_wrapper .product__sizes .size span {
    position: relative;
    background: #fff;
    z-index: 5;
}

.product_wrapper .product__price {
    color: #1C3F97;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 10px 0 40px;
}

.product_wrapper .product__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    color: #2DB1E6;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.product_wrapper .product__link::after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    width: 12px;
    height: 12px;
    background: url(../img/icons/arrow-right-small-lb.svg) center no-repeat;
}

@media screen and (max-width: 500px) {
    .product_wrapper .product {
        margin: 0;
    }
}

.products .product .img_box {
    height: 310px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.products .product__title {
    font-size: 28px;
    margin-bottom: 30px;
}

.products .product__price {
    margin-bottom: 20px;
}

.products .product__sizes {
    margin-bottom: 30px;
}

.products .product_slider .slick-arrow svg path {
    fill: #1C3F97;
}

@media screen and (max-width: 980px) {
    .glazing {
        padding-bottom: 100px;
    }

    .glazing .slick-arrow {
        top: calc(100% + 40px);
    }

    .glazing .slick-arrow.prev {
        left: 0;
    }

    .glazing .slick-arrow.next {
        right: 0;
    }
}

.glazing__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.glazing__element {
    padding: 0 15px;
}

.glazing__element .img_box {
    margin-bottom: 20px;
    height: 360px;
}

@media screen and (max-width: 500px) {
    .glazing__element {
        padding: 0;
    }
}

.glazing__link {
    color: #1C3F97;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
}

@media screen and (max-width: 980px) {
    .glazing__link {
        font-size: 12px;
    }
}

.froze_form {
    background: url(../img/zamer-bg.png) center/cover no-repeat;
    position: relative;
    padding: 90px 10px;
}

@media screen and (max-width: 780px) {
    .froze_form {
        background: url(../img/zamer-bg-mob.png) center/cover no-repeat;
    }
}

.froze_form::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(28, 63, 151, 0) 0%, rgba(28, 63, 151, 0.5) 22.58%, #00338A 74.15%);
}

.froze_form .title_wrapper {
    margin-bottom: 40px;
    text-align: left;
}

.froze_form .title_wrapper .title {
    color: #fff;
}

.froze_form__form {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
}

.froze_form__form input {
    margin: 10px 30px 10px 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media screen and (max-width: 780px) {
    .froze_form__form input {
        width: 100%;
        -ms-flex-order: 1;
        order: 1;
        margin-right: 0;
    }
}

@media screen and (max-width: 780px) {
    .froze_form__form .btn {
        margin: 0 auto 0;
        -ms-flex-order: 3;
        order: 3;
    }
}

.froze_form__text {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 780px) {
    .froze_form__text {
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 40px;
    }
}

.links_section__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.links_section__element {
    width: calc(100% / 4 - 10px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .links_section__element {
        width: calc(100% / 2 - 10px);
        margin: 15px 5px;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .links_section__element:nth-child(2) {
        padding-left: 10%;
    }

    .links_section__element:nth-child(4) {
        padding-left: 10%;
    }
}

@media screen and (max-width: 600px) {
    .links_section__element {
        padding-left: 0 !important;
    }
}

.links_section__element .icon {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .links_section__element .icon {
        height: 30px;
        margin-right: 10px;
    }
}

.links_section__element .text {
    color: #1C3F97;
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .links_section__element .text {
        font-weight: 500;
        font-size: 14px;
    }
}

.examples__slider {
    height: 440px;
}

.examples__slider.slick-slider .slick-track, .examples__slider.slick-slider .slick-list {
    height: 100%;
}

.examples__slider .slick-arrow {
    top: calc(50% + 20px);
}

.examples__slider .slick-arrow.prev {
    left: -40px;
}

.examples__slider .slick-arrow.next {
    right: -40px;
}

@media screen and (max-width: 980px) {
    .examples__slider {
        height: 240px;
    }
}

.examples__statistic {
    background: #1C3F97;
    padding: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 5;
    position: relative;
}

.examples__statistic .stat {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 980px) {
    .examples__statistic .stat {
        width: 50%;
        margin-bottom: 20px;
    }
}

.examples__statistic .stat .count {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}

@media screen and (max-width: 980px) {
    .examples__statistic .stat .count {
        font-size: 20px;
        margin-bottom: 5px;
    }
}

.examples__statistic .stat .text {
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;
}

@media screen and (max-width: 980px) {
    .examples__statistic .stat .text {
        font-size: 12px;
        text-align: center;
        padding: 0 10px;
    }
}

@media screen and (max-width: 980px) {
    .examples {
        padding-bottom: 100px;
    }

    .examples .slick-arrow {
        top: calc(100% + 220px);
    }

    .examples .slick-arrow.prev {
        left: 0;
    }

    .examples .slick-arrow.next {
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .examples .slick-arrow {
        top: calc(100% + 270px);
    }
}

.reviews__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.reviews__element {
    background: #fff;
    margin: 0 15px;
    padding: 20px;
    color: #1C3F97;
}

@media screen and (max-width: 780px) {
    .reviews__element {
        margin: 0;
    }
}

.reviews__element .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 16px;
    margin-bottom: 40px;
}

.reviews__element .top .name {
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
    .reviews__element .top .info {
        font-size: 12px;
    }
}

.reviews__element .text {
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .reviews__element .text {
        font-size: 12px;
    }
}

.reviews__element.video-review {
    padding: 0;
}

@media screen and (max-width: 980px) {
    .reviews {
        padding-bottom: 100px;
    }

    .reviews .slick-arrow {
        top: calc(100% + 40px);
    }

    .reviews .slick-arrow.prev {
        left: 0;
    }

    .reviews .slick-arrow.next {
        right: 0;
    }
}

.reviews [data-fancybox="reviews"] {
    position: relative;
    display: block;
}

.reviews [data-fancybox="reviews"]::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background: url(../img/icons/play-btn.svg) center no-repeat;
    z-index: 5;
}

.consultation_form {
    background: url(../img/consultation-bg.png) center/cover no-repeat;
    position: relative;
    padding: 70px 10px;
}

@media screen and (max-width: 780px) {
    .consultation_form {
        background: url(../img/consultation-bg-mob.png) center/cover no-repeat;
    }
}

.consultation_form::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(28, 63, 151, 0) 0%, rgba(28, 63, 151, 0.5) 22.58%, #00338A 74.15%);
}

.consultation_form .title_wrapper {
    margin-bottom: 40px;
    text-align: left;
}

.consultation_form .title_wrapper .title {
    color: #fff;
}

@media screen and (max-width: 780px) {
    .consultation_form .title_wrapper {
        text-align: center;
        margin-bottom: 30px;
    }
}

.consultation_form__form {
    width: 100%;
    max-width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.consultation_form__form input {
    margin: 15px 0;
}

@media screen and (max-width: 500px) {
    .consultation_form__form input {
        margin: 10px 0;
    }
}

.consultation_form__form .btn {
    margin-top: 30px;
}

.consultation_form__text {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}

.use_section__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.use_section__element {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
}

.use_section__element .img_box {
    height: 250px;
}

.use_section__element .description {
    color: #fff;
    background: #1C3F97;
    padding: 20px;
}

.use_section__element .description_title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {
    .use_section__element {
        padding: 0;
    }
}

@media screen and (max-width: 980px) {
    .use_section {
        padding-bottom: 100px;
    }

    .use_section .slick-arrow {
        top: calc(100% + 40px);
    }

    .use_section .slick-arrow.prev {
        left: 0;
    }

    .use_section .slick-arrow.next {
        right: 0;
    }
}

/* PAGES */
.geo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.geo img {
    margin-right: 12px;
    position: relative;
    top: -2px;
}

.btn {
    border-radius: 30px;
    background: #1C3F97;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 18px 40px;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #1C3F97;
}

.btn:hover {
    background: #fff;
    color: #1C3F97;
}

.btn--revers {
    background: #fff;
    color: #1C3F97;
}

.btn--revers:hover {
    background: #1C3F97;
    color: #fff;
    border-color: #fff;
}

@media screen and (max-width: 500px) {
    .btn {
        font-size: 14px;
        max-width: 100%;
        text-align: center;
    }
}

.content_section {
    color: #2E313F;
    font-size: 16px;
    line-height: 140%;
}

.content_section p {
    margin-bottom: 20px;
}

.content_section strong {
    color: #1C3F97;
}

@media screen and (max-width: 500px) {
    .content_section {
        font-size: 12px;
    }
}

.main_banner {
    width: 100%;
    height: 700px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .main_banner {
        height: 480px;
    }
}

.main_banner .fit {
    -o-object-position: left;
    object-position: left;
}

.main_banner__image {
    position: absolute;
    top: 0;
    left: 0;
}

.main_banner__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .main_banner__content {
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-bottom: 20px;
    }
}

.main_banner__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    color: #1C3F97;
}

@media screen and (max-width: 980px) {
    .main_banner__title {
        font-size: 42px;
        line-height: 42px;
    }
}

@media screen and (max-width: 500px) {
    .main_banner__title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
}

.main_banner__text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

@media screen and (max-width: 980px) {
    .main_banner__text {
        font-size: 17px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .main_banner__text {
        font-size: 16px;
        line-height: 160%;
        text-align: center;
    }
}

.main_banner__text .light_blue {
    font-weight: 600;
}

.main_banner .btn {
    margin-top: 75px;
}

@media screen and (max-width: 980px) {
    .main_banner .btn {
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .main_banner .btn {
        margin: 30px auto 0;
    }
}

.product_banner {
    padding: 30px 0 255px;
    position: relative;
}

.product_banner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 5;
}

.product_banner__content {
    background: rgba(255, 255, 255, 0.8);
    padding: 80px 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.product_banner__content .img_box {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
}

.product_banner__content .description {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product_banner__content .description > img {
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .product_banner__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px 10px;
    }

    .product_banner__content .img_box {
        width: 100%;
    }

    .product_banner__content .description {
        width: 100%;
    }
}

.product_banner__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
    .product_banner__title {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }
}

.product_banner__text {
    color: #000;
    font-weight: 300;
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    .product_banner__text {
        text-align: center;
        font-size: 12px;
        line-height: 140%;
    }
}

.product_banner__use {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product_banner__use .use_for {
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    .product_banner__use .use_for {
        margin-bottom: 15px;
    }
}

.product_banner__statistic {
    border: 1px solid #1C3F97;
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 500;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 25px;
}

@media screen and (max-width: 500px) {
    .product_banner__statistic {
        margin-bottom: 15px;
    }
}

.product_banner__bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.product_banner__bottom .price {
    font-weight: bold;
    font-size: 34px;
    margin: 15px 0;
}

@media screen and (max-width: 980px) {
    .product_banner__bottom .price {
        width: 100%;
        text-align: center;
        margin: 30px 0 40px;
        font-size: 30px;
    }
}

.product_banner__bottom .btn {
    font-size: 14px;
}

@media screen and (max-width: 980px) {
    .product_banner__bottom .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 980px) {
    .product_banner {
        padding: 20px 0 30px;
    }
}

@media screen and (max-width: 980px) {
    .window_map_section .container {
        padding: 0;
    }
}

.window_map_section .window_map {
    width: 100%;
    height: 550px;
}

.breadcrumbs {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.breadcrumbs__crumb {
    font-weight: 500;
    font-size: 16px;
    color: #1C3F97;
    margin-right: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs__crumb::after {
    content: "";
    display: block;
    margin-left: 5px;
    height: 18px;
    width: 1px;
    background: #1C3F97;
}
