@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default;
    overflow-x: hidden;
}

html.hidden {
    overflow: hidden;
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    background: transparent;
    text-decoration: none;
    color: initial;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

body {
    margin: 0;
    float: left;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    background: #F8F9FA;
}

body.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1268px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 5;
    padding: 0 24px;
}

p {
    margin: 0;
}

img, video {
    max-width: 100%;
    display: block;
}

img.fit, video.fit {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.advantages-section {
    background: #F7F7F7;
    padding: 70px 0;
}

@media screen and (max-width: 1024px) {
    .advantages-section {
        padding: 20px 0;
    }
}

.advantages-section__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.advantages-section__item {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 10px;
}

@media screen and (max-width: 1024px) {
    .advantages-section__item {
        width: calc(100% / 3 - 20px);
    }
}

@media screen and (max-width: 780px) {
    .advantages-section__item {
        margin: 20px 10px;
        width: calc(100% / 2 - 20px);
    }
}

.advantages-section__item .icon {
    margin-bottom: 20px;
}

@media screen and (max-width: 780px) {
    .advantages-section__item .icon {
        margin-bottom: 15px;
    }
}

.advantages-section__item .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {
    .advantages-section__item .text {
        font-size: 12px;
    }
}

.tab_section__tab_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0 30px;
    min-width: 100%;
}

.tab_section__tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 780px) {
    .tab_section__tab {
        font-size: 14px;
    }
}

.tab_section__tab.active {
    color: #180113;
}

.tab_section__tab.active:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #180113;
    position: absolute;
    top: 100%;
    left: 0;
}

.tab_section__content_tab {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

.tab_section__content_tab.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.tab_section__content {
    position: relative;
    overflow: hidden;
}

.fancybox__thumbs, .fancybox__button--thumbs, .fancybox__button--fullscreen, .fancybox__button--slideshow, .fancybox__toolbar__items--left {
    display: none;
}

/* END common styles */
.catalog-sort-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .catalog-sort-section {
        display: none;
    }
}

.catalog-sort-section .catalog-sort {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
}

.catalog-sort-section .catalog-sort select {
    margin-left: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5C5B5D;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/icons/icon-filter-arrow.svg) no-repeat 100% 50% !important;
    outline: 0;
    background: none;
    padding-right: 30px;
}

@media screen and (max-width: 500px) {
    .catalog-sort-section .catalog-sort select {
        margin: 10px 0 0;
        width: 100%;
    }
}

.catalog-sort-section .catalog-sort option {
    font-size: 16px;
    outline: none;
    background: #F8F9FA;
}

.catalog-sort-section .catalog-sort option:disabled {
    display: none;
}

@media all and (max-width: 500px) {
    .catalog-sort-section .catalog-sort option {
        font-size: 14px;
    }
}

.catalog-sort-section .filter-categories {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog-sort-section .filter-categories__category {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 15px;
    margin-right: 15px;
    background: #E4E4E4;
    border-radius: 30px;
    color: #757575;
}

.catalog-sort-section .filter-categories__category-remove {
    margin-left: 15px;
    cursor: pointer;
}

.catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -15px;
}

@media screen and (max-width: 780px) {
    .catalog {
        margin: -10px;
    }
}

@media screen and (max-width: 500px) {
    .catalog {
        margin: 0;
    }
}

.catalog__product {
    padding: 0 0 15px;
    position: relative;
    margin: 15px;
    width: calc(100% / 3 - 30px);
    background: #fff;
    padding: 0 20px 15px;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    /*     &-tags{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &-tag{
      padding: 5px 10px;
      border-radius: 3px;
      color: #fff;

      &.hit{
        background: red;
      }
    } */
    /* &-favorite {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      z-index: 20;

      img {
        position: absolute;
        top: 0;
        transition: .3s;

        &.active {
          visibility: hidden;
          opacity: 0;
        }
      }

      &.active {
        .active{
          visibility: visible;
          opacity: 1;
        }
      }
    } */
}

@media screen and (max-width: 780px) {
    .catalog__product {
        margin: 10px;
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 500px) {
    .catalog__product {
        margin: 10px 0;
        width: 100%;
    }
}

.catalog__product-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 180px;
}

@media screen and (max-width: 500px) {
    .catalog__product-image {
        height: auto;
    }
}

.catalog__product-stock {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 50px;
}

.catalog__product-stock img {
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .catalog__product-stock {
        margin-bottom: 27px;
    }
}

.catalog__product-name {
    font-size: 16px;
    line-height: 140%;
    min-height: 45px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .catalog__product-name {
        font-size: 14px;
    }
}

.catalog__product-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    transition: .3s;
}

.catalog__product-cart-btn {
    border: 1px solid #180113;
    border-radius: 35px;
    width: 100%;
    max-width: 150px;
    height: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    position: absolute;
    bottom: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.catalog__product-cart-btn img {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .catalog__product-cart-btn {
        position: relative;
        opacity: 1;
        visibility: visible;
        margin-top: 10px;
        bottom: auto;
    }
}

@media screen and (min-width: 1024px) {
    .catalog__product:hover .catalog__product-price {
        opacity: 0;
        visibility: hidden;
    }

    .catalog__product:hover .catalog__product-cart-btn {
        opacity: 1;
        visibility: visible;
    }
}

.catalog--popular .slick-list {
    width: 100%;
}

.catalog--popular .slick-arrow {
    position: absolute;
    top: calc(50% - 19px);
    z-index: 5;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .catalog--popular .slick-arrow {
        top: 0;
        width: 12px;
    }
}

.catalog--popular .slick-arrow.prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: -40px;
}

@media screen and (max-width: 1350px) {
    .catalog--popular .slick-arrow.prev {
        left: 10px;
    }
}

.catalog--popular .slick-arrow.next {
    right: -40px;
}

@media screen and (max-width: 1350px) {
    .catalog--popular .slick-arrow.next {
        right: 10px;
    }
}

@media screen and (max-width: 1350px) {
    .catalog--popular {
        padding: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    .catalog--popular {
        padding: 36px 0 0;
    }
}

.popular-products {
    padding-top: 100px;
    margin-bottom: 150px;
}

@media screen and (max-width: 780px) {
    .popular-products {
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

.popular-products__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .popular-products__title {
        font-size: 28px;
        line-height: 100%;
    }
}

@media screen and (max-width: 780px) {
    .popular-products__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .popular-products__title {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.catalog-page {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .catalog-page {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.catalog-page .filter-sidebar {
    width: 285px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 30px;
    margin-top: -16px;
}

@media screen and (max-width: 1024px) {
    .catalog-page .filter-sidebar {
        width: 100%;
        margin: 0 -24px 50px;
        width: calc(100% + 48px);
    }
}

.catalog-filter-wrapper {
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .catalog-filter-wrapper {
        margin-bottom: 0;
    }
}

.catalog-filter {
    margin: 10px 0;
    padding: 0 0 16px;
    color: #5C5B5D;
}

@media screen and (max-width: 1024px) {
    .catalog-filter {
        display: none;
        margin: 0;
        padding: 0;
    }
}

.catalog-filter__item {
    border-bottom: 1px solid #757575;
}

.catalog-filter__item-head {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0;
}

.catalog-filter__item-head::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons/icon-plus.svg) center no-repeat;
    position: absolute;
    right: 0;
}

.catalog-filter__item-head.active::after {
    background: url(../img/icons/icon-minus.svg) center no-repeat;
}

@media screen and (max-width: 1024px) {
    .catalog-filter__item-head {
        padding: 10px 24px;
        font-size: 14px;
    }

    .catalog-filter__item-head::after {
        right: 24px;
    }
}

.catalog-filter__item-body {
    display: none;
}

@media screen and (max-width: 1024px) {
    .catalog-filter__item-body {
        padding: 0 24px;
    }
}

.catalog-filter__item-body.open {
    display: block;
}

.catalog-filter .check-box-container__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
}

.catalog-filter .check-box-container__item .check {
    width: 15px;
    height: 15px;
    border: 0.5px solid #757575;
    margin-right: 6px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.catalog-filter .check-box-container__item input {
    display: none;
}

.catalog-filter .check-box-container__item input:checked + .check {
    background: url(../img/icons/icon-check.svg) center no-repeat;
}

.filter-mobile-opener {
    border-bottom: 1px solid #757575;
    padding: 15px 24px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .filter-mobile-opener {
        display: none;
    }
}

.filter-mobile-opener::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    background: url(../img/icons/icon-filter-arrow.svg) center no-repeat;
    transition: .3s;
}

.filter-mobile-opener.active::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pagintaion {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pagintaion__item {
    width: 40px;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    margin: 5px 12px;
    transition: .3s;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 780px) {
    .pagintaion__item {
        width: 30px;
        height: 30px;
        font-size: 14px;
        font-weight: 300;
        margin: 3px 8px;
    }
}

.pagintaion__item.active, .pagintaion__item:hover {
    background: #180113;
    color: #fff;
}

.pagintaion__item--prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.product-page-container {
    background: #fff;
    padding-bottom: 100px;
}

@media screen and (max-width: 780px) {
    .product-page-container {
        padding-bottom: 50px;
    }
}

.product-page {
    padding-top: 50px;
}

.product-page .product-main {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .product-page .product-main {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.product-page .product-slider {
    width: 50%;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .product-page .product-slider {
        width: 100%;
        margin-bottom: 20px;
    }
}

.product-page .product-slider .slider {
    width: 100%;
    height: 550px;
    padding: 20px 50px 20px;
    position: relative;
}

@media screen and (max-width: 780px) {
    .product-page .product-slider .slider {
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .product-page .product-slider .slider {
        height: 230px;
        padding: 20px 0;
    }
}

.product-page .product-slider .slider .slick-list, .product-page .product-slider .slider .slick-track {
    height: 100%;
}

.product-page .product-slider .slider-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.product-page .product-slider .slider .slick-dots {
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-page .product-slider .slider .slick-dots li {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.product-page .product-slider .slider .slick-dots li.slick-active {
    background: #000;
}

.product-page .product-slider .slider .slick-dots button {
    display: none;
}

.product-page .product-slider .navslider {
    height: 120px;
}

@media screen and (max-width: 780px) {
    .product-page .product-slider .navslider {
        display: none;
    }
}

.product-page .product-slider .navslider.static .slick-track {
    -webkit-transform: translate3d(0, 0px, 0px) !important;
    transform: translate3d(0, 0px, 0px) !important;
}

.product-page .product-slider .navslider .slick-list {
    height: 100%;
}

.product-page .product-slider .navslider .slick-track {
    display: -ms-flexbox;
    display: flex;
    gap: 0 10px;
    height: 100%;
}

.product-page .product-slider .navslider__item {
    border: 1px solid #9C9C9C;
    padding: 10px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.product-page .product-slider .navslider__item img {
    max-height: 100%;
}

.product-page .product-info {
    padding: 0 0 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .product-page .product-info {
        padding: 0;
    }
}

.product-page .product-info__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

@media screen and (max-width: 780px) {
    .product-page .product-info__title {
        font-size: 26px;
        line-height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .product-page .product-info__title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .product-page .product-info .product-info__title {
        display: none;
    }
}

.product-page .product-info__stock {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info__stock {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.product-page .product-info__stock img {
    margin-right: 10px;
}

.product-page .product-info__box {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #757575;
}

.product-page .product-info__box-item {
    width: 50%;
}

.product-page .product-info__box-item.left {
    max-width: 250px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info__box-item.left {
        width: 100%;
        max-width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
}

.product-page .product-info__box-item.right {
    max-width: 180px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info__box-item.right {
        display: none;
    }
}

.product-page .product-info .price {
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .price {
        font-size: 25px;
        line-height: 30px;
    }
}

.product-page .product-info .color {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 55px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .color {
        width: 100%;
        margin-bottom: 20px;
    }
}

.product-page .product-info .color .label {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .color .label {
        font-size: 14px;
    }
}

.product-page .product-info .color .colors {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-page .product-info .color .colors__item {
    width: 15px;
    height: 15px;
    border: 1px solid #757575;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.product-page .product-info .size {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .size {
        width: 100%;
    }
}

.product-page .product-info .size .table-product {
    text-decoration: underline;
    font-size: 12px;
}

@media screen and (min-width: 500px) {
    .product-page .product-info .size .table-product {
        display: none;
    }
}

.product-page .product-info .size .label {
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .size .label {
        font-size: 14px;
    }
}

.product-page .product-info .delivery {
    margin-bottom: 30px;
}

.product-page .product-info .delivery .icon {
    margin-bottom: 7px;
}

.product-page .product-info .delivery .icon img {
    width: 33px;
}

.product-page .product-info .delivery .text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.product-page .product-info .payment .icon {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7px;
    gap: 0 12px;
}

.product-page .product-info .payment .text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.product-page .product-info__bottom {
    padding-top: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info__bottom {
        margin-bottom: 40px;
    }
}

.product-page .product-info__bottom .sizes-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 50%;
    gap: 0 20px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info__bottom .sizes-wrapper {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .product-page .product-info__bottom .table-product {
        display: none;
    }
}

.product-page .product-info__bottom .table-product a {
    text-decoration: underline;
}

.product-page .product-info__cart-line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 0 60px;
}

@media screen and (max-width: 780px) {
    .product-page .product-info__cart-line {
        gap: 0;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.product-page .product-info__cart-line .btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #180113;
    border-radius: 45px;
    background: #180113;
    width: 100%;
    max-width: 215px;
    height: 52px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
}

@media screen and (max-width: 780px) {
    .product-page .product-info__cart-line .btn {
        max-width: 188px;
        height: 49px;
        font-size: 14px;
    }
}

.product-page .product-info__cart-line .btn.button-favorite {
    background: none;
    color: #180113;
}

@media screen and (max-width: 780px) {
    .product-page .product-info__cart-line .btn.button-favorite {
        width: 49px;
        background: url(../img/icons/icon-favorite.svg) center no-repeat;
    }

    .product-page .product-info__cart-line .btn.button-favorite span {
        display: none;
    }
}
