@import url(../fonts/helvetica.css);

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default;
}

body {
    font-size: 100%;
    letter-spacing: 0.01em;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    background: transparent;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

img {
    border: 0;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

.d-flex {
    display: -ms-flexbox;
    display: flex;
}

.d-flex-jus-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.d-flex-alig-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.d-flex-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.d-flex-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.d-flex-column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.align-items-start {
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}

.align-items-end {
    -ms-flex-align: end;
    align-items: flex-end;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    color: #000;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    padding: 0 60px 0 200px;
    letter-spacing: 1px;
}

body.hidden {
    overflow: hidden;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

input {
    border: none;
    padding: 0 20px;
    height: 56px;
}

textarea {
    padding: 15px 20px;
    height: 110px;
}

.mobile_visible {
    display: none;
    visibility: hidden;
    position: absolute;
}

@media screen and (max-width: 780px) {
    .mobile_hidden {
        display: none !important;
    }

    .mobile_visible {
        display: block;
        visibility: visible;
        position: relative;
    }
}

/* WIDTH */
.w-10 {
    width: 100%;
}

.w-9 {
    width: calc(100% - (100% / 5));
}

.w-8 {
    width: calc(100% - (100% / 4));
}

.w-7 {
    width: calc(100% - (100% / 3));
}

.w-6 {
    width: 60%;
}

.w-5 {
    width: 50%;
}

.w-4 {
    width: 40%;
}

.w-3 {
    width: calc(100% / 3);
}

.w-2 {
    width: calc(100% / 4);
}

.w-1 {
    width: calc(100% / 5);
}

.title_box {
    width: 100%;
    text-align: center;
}

.title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    display: inline-block;
    text-transform: uppercase;
}

.btn {
    border-radius: 40px;
    text-transform: uppercase;
    height: 46px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 153px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    padding: 0 40px;
    border: none;
}

/* END common styles */
.header {
    padding: 0 50px;
    width: 100%;
    height: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid #f3f3f3;
}

.header__tagline {
    margin-right: 50px;
}

.header__phone a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
}

.header__phone .code {
    color: #006699;
    margin-right: 5px;
}

.header__phone img {
    width: 20px;
    margin-right: 20px;
}

.main_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
}

.main_menu__element {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main_menu__element a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 40px;
}

.main_menu__element a.parent::after {
    content: "";
    width: 6px;
    height: 6px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-bottom: 2px solid #006699;
    border-right: 2px solid #006699;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 20px;
    top: 0;
    position: relative;
}

.main_menu__element .dropdown_menu {
    display: none;
    padding: 15px 0;
    position: absolute;
    top: 100%;
    left: -40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 2px solid #f3f3f3;
    z-index: 5;
    background: #ffffff;
}

.main_menu__element .dropdown_menu a {
    margin: 8px 0;
}

.main_menu__element .dropdown_menu .link_element {
    padding: 0 40px;
}

.main_menu__element .dropdown_menu .dropdown_menu {
    display: none;
    left: 100%;
    top: 0;
}

.main_menu__element .dropdown_menu .parent:hover .dropdown_menu {
    display: block;
}

.main_menu__element:hover .parent::after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 3px;
    position: relative;
}

.main_menu__element:hover > .dropdown_menu {
    display: block;
}

.left_sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    border-right: 2px solid #f3f3f3;
    z-index: 5;
}

.left_sidebar .logo_block {
    height: 150px;
    padding: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
}

.left_sidebar .logo_block .logo {
    width: 100px;
}

.left_sidebar .side_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 120px;
}

.left_sidebar .side_menu__main_link {
    border-bottom: 2px solid #f3f3f3;
    padding: 5px 10px 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    min-height: 80px;
}

.left_sidebar .side_menu .dropdown_menu {
    display: none;
    padding: 15px 20px;
    position: absolute;
    top: -15px;
    left: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 1px solid #f3f3f3;
    border-left: none;
    background: #ffffff;
}

.left_sidebar .side_menu .dropdown_menu a {
    margin: 8px 0;
    border: none;
    min-height: auto;
    text-align: left;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.left_sidebar .side_menu__element:hover .dropdown_menu {
    display: block;
}

.left_sidebar .side_menu__element:hover .side_menu__main_link::after {
    content: "";
    display: block;
    height: 30px;
    background: #0076AE;
    width: 2px;
    position: absolute;
    left: 100%;
    z-index: 10;
}

.right_sidebar {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 60px;
    border-left: 2px solid #f3f3f3;
}

.right_sidebar .search_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 150px;
    border-bottom: 2px solid #f3f3f3;
    cursor: pointer;
    transition: 1s;
}

.right_sidebar .search_box__icon {
    width: 30px;
}

.right_sidebar .search_box__icon path {
    transition: 1s;
}

.right_sidebar .search_box__section {
    position: absolute;
    width: 700px;
    background: #f7f7f7;
    height: 100%;
    right: calc(-100% - 700px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    transition: 1s;
}

.right_sidebar .search_box__section input {
    width: 100%;
    padding: 0 40px;
    border: 2px solid #f3f3f3;
    border-bottom: none;
}

.right_sidebar .search_box__search_container {
    width: 100%;
}

.right_sidebar .search_box__search_container .result_box {
    position: absolute;
    top: 100%;
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    border: 2px solid #f3f3f3;
    padding: 20px 40px;
}

.right_sidebar .search_box__search_container .result_box a {
    margin: 5px 0;
}

.right_sidebar .search_box:hover {
    background: #f7f7f7;
}

.right_sidebar .search_box:hover .search_box__section {
    right: 100%;
}

.right_sidebar .search_box:hover .search_box__icon path {
    fill: #006699;
}

.right_sidebar .social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 200px;
}

.right_sidebar .social__icon {
    width: 25px;
    margin-bottom: 40px;
}

.main_page_slider {
    padding: 50px;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 50px;
}

.category_section {
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    padding: 25px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.category_section__element {
    border-right: 2px solid #f3f3f3;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.category_section__element:last-child {
    border-right: none;
}

.category_section__element a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px;
    text-transform: uppercase;
    line-height: 24px;
}

.category_section__element a::before {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #0076AE;
    position: absolute;
    left: 0;
    transition: 1s;
    bottom: -26px;
    transition-timing-function: ease;
}

.category_section__element a::after {
    content: "";
    width: 30px;
    height: 15px;
    display: block;
    background: url(../img/arrow.png) center/contain no-repeat;
    position: absolute;
    right: 15px;
    opacity: 0;
    transition: .3s;
}

.category_section__element a span {
    transition: 1s;
}

.category_section__element a:hover span {
    -webkit-transform: translate(-10%, 0);
    transform: translate(-10%, 0);
    color: #0076AE;
}

.category_section__element a:hover::before {
    width: 100%;
}

.category_section__element a:hover::after {
    opacity: 1;
    transition-delay: .5s;
}

.about {
    display: -ms-flexbox;
    display: flex;
    border-top: 2px solid #f3f3f3;
}

.about__content {
    padding: 30px;
    width: calc(100% - 350px);
}

.about__content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/IPM.svg) center/cover no-repeat;
    width: 70%;
    padding-top: 25%;
}

.about__content h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0 20px;
}

.about__content .sub_title {
    font-size: 28px;
    font-weight: 600;
    display: block;
    margin-bottom: 40px;
    padding: 0 20px;
}

.about__advantges_wrapper {
    display: -ms-flexbox;
    display: flex;
}

.about__element {
    border-right: 1px solid #f3f3f3;
    width: calc(100% / 3);
    padding: 20px;
}

.about__element:last-child {
    border-right: none;
}

.about__element .title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 28px;
    text-transform: inherit;
    letter-spacing: 1px;
}

.about__element .text {
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 17px;
}

.about__grade {
    width: 350px;
    border-left: 2px solid #f3f3f3;
    padding-bottom: 150px;
}

.about__grade .grade_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/order_bg.png) center/cover no-repeat;
    padding-bottom: 150px;
}

.about__grade .grade_box .title {
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    width: 100%;
    font-size: 26px;
    margin-bottom: 40px;
}

.about__grade .grade_box .phone {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    transition: .3s;
}

.about__grade .grade_box .phone:hover {
    color: #006699;
}

.about__grade .grade_box .email {
    margin-bottom: 20px;
    transition: .3s;
}

.about__grade .grade_box .email:hover {
    color: #006699;
}

.about__grade .grade_box .btn_order {
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px 30px;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.about__grade .grade_box .btn_order::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #006699;
    position: absolute;
    left: 0;
    top: 100%;
    transition: .5s;
}

.about__grade .grade_box .btn_order:hover {
    color: #ffffff;
}

.about__grade .grade_box .btn_order:hover::before {
    top: 0;
}

.reviews {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #f3f3f3;
}

.reviews__review_container {
    width: calc(100% - 350px);
}

.reviews__review_container .top {
    padding: 15px 50px;
    font-size: 28px;
    text-transform: uppercase;
    border-bottom: 2px solid #f3f3f3;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.reviews__slider {
    padding: 50px 50px 25px;
}

.reviews__slider .review_title {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.reviews__slider .link_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
}

.reviews__slider .link_box a {
    font-size: 24px;
    text-transform: uppercase;
}

.reviews__slider .link_box a::after {
    content: "";
}

.reviews__right_bar {
    width: 350px;
    border-left: 2px solid #f3f3f3;
}

.reviews__right_bar .top {
    padding: 15px 50px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 2px solid #f3f3f3;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.reviews__right_bar .top a {
    color: #006699;
}

.reviews__slider_button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: calc(100% - 60px);
}

.width_animate_arrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.width_animate_arrow .animate_arrow {
    width: 45px;
    height: 35px;
    margin-left: 20px;
}

.width_animate_arrow .animate_arrow .arrow {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
}

.width_animate_arrow .animate_arrow .cls-1 {
    fill: none;
    stroke: #d6d6d6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.width_animate_arrow .animate_arrow .back_arrow line {
    fill: #cccccc;
}

.width_animate_arrow .animate_arrow .front_arrow line, .width_animate_arrow .animate_arrow .front_arrow polyline {
    transition: .5s;
}

.width_animate_arrow:hover {
    color: #006699;
}

.width_animate_arrow:hover .animate_arrow .back_arrow {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
}

.width_animate_arrow:hover .animate_arrow .front_arrow {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
}

.width_animate_arrow:hover .animate_arrow .front_arrow line, .width_animate_arrow:hover .animate_arrow .front_arrow polyline {
    stroke: #006699;
}

.about_company_section {
    display: -ms-flexbox;
    display: flex;
}

.about_company_section .description_box {
    width: 50%;
    padding: 50px;
}

.about_company_section .description_box .text {
    border-right: 2px solid #f3f3f3;
    padding-right: 20px;
}

.about_company_section .description_box .text::before {
    content: "";
    width: 3px;
    height: 40%;
    background: #0076AE;
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.about_company_section .description_box .title {
    font-size: 28px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.about_company_section .description_box p {
    margin-bottom: 20px;
    line-height: 24px;
}

.about_company_section .description_box .link {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.about_company_section .numbers_box {
    width: 50%;
    padding-top: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about_company_section .numbers_box::before {
    content: "";
    display: block;
    position: absolute;
    top: 55px;
    right: -100px;
    background: url(../img/IPM.svg) center/cover no-repeat;
    width: 80%;
    padding-top: 30%;
}

.about_company_section .numbers_box__element {
    width: 50%;
    border-bottom: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    padding: 20px 30px 0;
}

.about_company_section .numbers_box__element:nth-child(even) {
    border-right: none;
}

.about_company_section .numbers_box__element:nth-child(3) {
    border-bottom: none;
}

.about_company_section .numbers_box__element:nth-child(4) {
    border-bottom: none;
}

.about_company_section .numbers_box__element .number {
    font-size: 60px;
    font-weight: 600;
    color: #000;
    transition: 2s;
    margin-bottom: 10px;
    opacity: 0 !important;
    transition: 3s;
}

.about_company_section .numbers_box__element .number--black {
    opacity: 1 !important;
}

.about_company_section .numbers_box__element .sub {
    font-size: 16px;
    display: block;
    line-height: 22px;
    margin-bottom: 10px;
}

.about_company_section .numbers_box__element a {
    font-weight: 600;
}

.advantages {
    padding-top: 40px;
}

.advantages .top {
    padding: 15px 50px;
    font-size: 28px;
    text-transform: uppercase;
}

.advantages__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.advantages__element {
    width: calc(100% / 3);
    margin-bottom: 20px;
    border-bottom: 2px solid #f3f3f3;
    padding: 50px;
}

.advantages__element .icon {
    position: absolute;
    width: 140px;
    top: 0;
    left: 0;
    transition: 1s;
}

.advantages__element .icon .cls-1, .advantages__element .icon .cls-2 {
    fill: none;
    stroke: #f6f6f6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: 1s;
}

.advantages__element .icon .cls-2 {
    font-size: 12.03px;
    fill: #f6f6f6;
    font-weight: 700;
}

.advantages__element .title {
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
    transition: 1s;
}

.advantages__element .description {
    font-size: 16px;
    line-height: 22px;
}

.advantages__element:hover .icon {
    width: 60px;
    top: 30px;
    left: 40px;
}

.advantages__element:hover .icon .cls-1, .advantages__element:hover .icon .cls-2 {
    stroke: #006699;
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: 1s;
}

.advantages__element:hover .title {
    -webkit-transform: translate(60px, 0);
    transform: translate(60px, 0);
}

.team {
    margin-top: -20px;
}

.team .top {
    padding: 35px 0 15px 50px;
    font-size: 28px;
    text-transform: uppercase;
    width: calc(100% / 4);
    border-right: 2px solid #f3f3f3;
}

.team .top::after {
    content: "";
    height: 2px;
    width: calc(100% * 3 + 8px);
    display: block;
    position: absolute;
    left: 100%;
    top: 100%;
    background: #f3f3f3;
}

.team__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.team__element {
    width: calc(100% / 4);
    border-right: 2px solid #f3f3f3;
    padding-bottom: 300px;
}

.team__element:last-child {
    border-right: none;
}

.team__element .content {
    padding-top: 20px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

.team__element .info_box {
    position: absolute;
    top: calc(100% - 4px);
    right: 100%;
    background: rgba(0, 102, 153, 0.8);
    color: #ffffff;
    width: 100%;
    height: 100%;
    transition: right .5s, top .5s .5s;
}

.team__element .info_box .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    transition: .5s;
}

.team__element .info_box .department {
    border-bottom: 2px solid #ffffff;
    padding: 30px 20px 10px 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.team__element .info_box .name {
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0 20px 0 30px;
}

.team__element .info_box .position {
    margin-bottom: 50px;
    padding: 0 20px 0 30px;
    font-size: 16px;
}

.team__element .info_box .phone, .team__element .info_box .email {
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0 20px 0 30px;
}

.team__element .info_box a {
    color: #ffffff;
}

.team__element .content:hover .info_box {
    right: 0;
    top: 0;
}

.team__element .content:hover .info_box .content {
    transition-delay: 1s;
    opacity: 1;
}

.clients .top {
    padding: 30px 0 30px 50px;
    font-size: 28px;
    text-transform: uppercase;
    width: calc(100% / 4);
    position: absolute;
    top: -120px;
}

.clients__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clients__element {
    width: calc(100% / 4);
    border-bottom: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.clients__element:nth-child(-n + 4) {
    border-top: 2px solid #f3f3f3;
}

.clients__element:nth-child(4n + 4) {
    border-right: none;
}

.clients__element.empty {
    border-top: none;
}

.clients__element img {
    transition: 1s;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.clients.visible img {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.empty_blocks_afterclients {
    display: -ms-flexbox;
    display: flex;
}

.empty_blocks_afterclients .block {
    width: calc(100% / 4);
    height: 250px;
    border-right: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
}

.empty_blocks_afterclients .block:last-child {
    border-right: none;
}

.empty_blocks_afterclients .block.first .title {
    padding-left: 50px;
    font-size: 28px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
}

.empty_blocks_afterclients .block.first::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/IPM.svg) center/cover no-repeat;
    width: 500px;
    height: 180px;
    z-index: -1;
}

.news {
    margin-bottom: 50px;
}

.news__wrapper {
    display: -ms-flexbox;
    display: flex;
}

.news__element {
    width: calc(100% / 4);
    height: 250px;
    padding: 40px 20px 0;
    border-bottom: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
}

.news__element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 102, 153, 0.8);
    opacity: 0;
    z-index: 3;
    transition: 1s;
}

.news__element:last-child {
    border-right: none;
}

.news__element .bg_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
    z-index: 2;
}

.news__element .text {
    z-index: 5;
    transition: .5s;
}

.news__element .bottom {
    position: absolute;
    left: 20px;
    bottom: 0;
    padding: 10px 20px;
    width: calc(100% - 40px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 5;
    overflow: hidden;
    transition-delay: 1s;
}

.news__element .bottom .cls-1 {
    fill: none;
    stroke: #006699;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: 1s;
}

.news__element .bottom::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: 1s;
    z-index: 5;
}

.news__element .bottom::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #f3f3f3;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    transition-delay: 1s;
}

.news__element .bottom.empty::before {
    display: none;
}

.news__element .bottom .date {
    color: #000;
    font-size: 14px;
    transition: 1s;
}

.news__element .bottom .link {
    width: 40px;
    height: 25px;
    display: block;
}

.news__element .bottom .link svg {
    max-width: 100%;
    max-height: 100%;
}

.news__element:not(.empty):hover .bg_img {
    opacity: 1;
}

.news__element:not(.empty):hover::before {
    opacity: 1;
}

.news__element:not(.empty):hover .bottom::after {
    transition: 0s;
    transition-delay: 0s;
    opacity: 0;
}

.news__element:not(.empty):hover .bottom::before {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.news__element:not(.empty):hover .date, .news__element:not(.empty):hover .text {
    color: #ffffff;
}

.news__element:not(.empty):hover .link svg line, .news__element:not(.empty):hover .link svg polyline {
    stroke: #ffffff;
}

.footer__first {
    background: #f4fafe;
    width: 100%;
    height: 350px;
    padding: 30px 50px;
    display: -ms-flexbox;
    display: flex;
}

.footer__first a {
    color: #000 !important;
}

.footer__second {
    width: 100%;
    height: 150px;
    background: #006699;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 50px;
}

.footer__column {
    width: calc(100% / 4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__column .column_title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    min-height: 20px;
}

.footer__column a {
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer__column form {
    width: 100%;
}

.footer__column form input {
    background: none;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #cccccc;
    height: 50px;
    font-size: 14px;
}

.footer__column form input::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 12px;
}

.footer__column form input::-moz-placeholder {
    color: #cccccc;
    font-size: 12px;
}

.footer__column form input:-ms-input-placeholder {
    color: #cccccc;
    font-size: 12px;
}

.footer__column form input::-ms-input-placeholder {
    color: #cccccc;
    font-size: 12px;
}

.footer__column form input::placeholder {
    color: #cccccc;
    font-size: 12px;
}

.footer__column form button {
    background: #006699;
    width: 100%;
    color: #ffffff;
    height: 50px;
    text-align: left;
    padding: 0 20px;
}

@media screen and (max-width: 1400px) {
    .header__tagline {
        display: none;
    }
}
