@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/../fonts/CenturyGothic-Italic.eot");
  src: local("Century Gothic Italic"), local("CenturyGothic-Italic"), url("../fonts/CenturyGothic-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Italic.woff") format("woff"), url("../fonts/CenturyGothic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.eot");
  src: local("Century Gothic"), local("CenturyGothic"), url("../fonts/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-Bold.eot");
  src: local("Century Gothic Bold"), local("CenturyGothic-Bold"), url("../fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-BoldItalic.eot");
  src: local("Century Gothic Bold Italic"), local("CenturyGothic-BoldItalic"), url("../fonts/CenturyGothic-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic-BoldItalic.woff") format("woff"), url("../fonts/CenturyGothic-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  cursor: default;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}

*:focus,
*:active,
*:hover {
  outline: none;
}

hr {
  box-sizing: content-box;
  height: 0;
}

ol,
ul {
  list-style: none;
}

pre {
  tab-size: 4;
  white-space: pre-wrap;
}

img,
svg {
  border: 0;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}

input,
textarea {
  resize: none;
  user-select: text;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --index: calc(1vw + 1vh);
  --c-primary: #13212d;
  --c-gold: #d5b378;
  --c-gold-hover: #815e21;
  --main-font: "Century Gothic", sans-serif;
}

body.noskroll,
html.noskroll {
  overflow: hidden;
}

html {
  width: 100%;
  font-size: 62.5%;
  height: fill-available;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-width: 320px;
  color: #eee;
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--c-primary);
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
}

strong {
  font-weight: 700;
}

canvas {
  display: block;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--c-primary) var(--c-gold);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: var(--c-primary);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--c-gold);
}

.page {
  max-width: 260rem;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.container.is-full-w {
  max-width: 1440px;
}

ul li {
  list-style-type: decimal;
}

ol li {
  list-style-type: disc;
}

a.text-link {
  transition: 0.3s;
}

a.text-link:hover {
  color: var(--c-gold);
}

.is-hidden {
  display: none !important;
}

.fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

img.initial {
  max-width: initial;
  max-height: initial;
}

.button {
  font-weight: 700;
  border-radius: 15px;
  padding: 0 3.2rem;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  min-width: 20rem;
}

.button.is-primary {
  color: #111111;
  background: var(--c-gold);
  border: none;
}

.button.is-primary:hover {
  background: var(--c-gold-hover);
  color: #ffffff;
}

.button.is-ghost {
  border: 2px solid var(--c-gold);
  color: var(--c-gold);
  background: none;
}

.button.is-ghost:hover {
  border-color: var(--c-gold-hover);
  color: var(--c-gold-hover);
}

.button.is-large {
  height: 6.9rem;
  font-size: 2.4rem;
}

.button.is-medium {
  height: 5.6rem;
  font-size: 2rem;
}

.button.is-small {
  height: 4.4rem;
  font-size: 1.6rem;
}

.button.is-center {
  margin: 0 auto;
  display: flex;
  width: max-content;
}

h1,
.h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 2.4rem;
  font-weight: 400;
}

.page-section {
  margin-bottom: 10rem;
}

.page-section__title-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.4rem;
  gap: 3.2rem;
}

.page-section__title-box.is-center {
  justify-content: center;
  text-align: center;
}

.form-field-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.form-field-box__placeholder {
  color: #111111;
  margin-bottom: 0.8rem;
}

.form-field-box__placeholder.is-white {
  color: #ffffff;
}

.input {
  background: none;
  border: 1px solid #111;
  border-radius: 15px;
  height: 4.4rem;
  padding: 0 2rem;
  transition: 0.3s;
  color: #111111;
  position: relative;
  z-index: 2;
  transition: 0.2s;
}

.input::placeholder {
  color: #111111;
}

.input.is-error {
  color: #d80000 !important;
  border-color: #d80000 !important;
}

.input.is-white {
  border-color: #ffffff;
  color: #ffffff;
}

.input.is-white::placeholder {
  color: #ffffff;
}

.input:focus {
  border-color: var(--c-gold) !important;
}

.textarea {
  padding: 1.6rem 2.4rem;
  height: 14rem;
  resize: none;
}

.checkbox-input {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  /* &__check {
    width: 20px;
    height: 20px;
    background: #12171e;
    border-radius: 4px;
    flex-shrink: 0;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: radial-gradient(160.64% 131.88% at 100% -4%, #3ff8ff 0%, #4d35ea 100%), #fff;
      opacity: 0;
      transition: 0.2s;
    }

    &-icon {
      opacity: 0;
      transition: 0.2s;
      position: relative;
      z-index: 5;
    }
  } */
}

.checkbox-input label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-input__radio {
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  flex-shrink: 0;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--c-gold);
  background: none;
}

.checkbox-input__radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--c-gold);
  opacity: 0;
  transition: 0.2s;
}

.checkbox-input__placeholder {
  font-size: 1.4rem;
  color: #111111;
}

.checkbox-input__placeholder a {
  text-decoration: underline;
}

.checkbox-input input {
  display: none;
  /*     &:checked + .checkbox-input__check {
    &::before {
      opacity: 1;
    }

    .checkbox-input__check-icon {
      opacity: 1;
    }
  } */
}

.checkbox-input input:checked + .checkbox-input__radio::before {
  opacity: 1;
}

.field-error {
  color: #eb5757;
  padding-top: 6px;
  display: none;
}

.field-error.is-visible {
  display: block;
}

.tab-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.tab-content.is-visible {
  opacity: 1;
  visibility: visible;
  position: unset;
}

.swiper-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 50;
}

.swiper-slider__arrow path {
  transition: 0.3s;
}

.swiper-slider__arrow:hover path {
  stroke: var(--c-gold-hover);
}

.swiper-slider__arrow.is-prev {
  left: 0;
}

.swiper-slider__arrow.is-next {
  right: 0;
}

/* .custom-select {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__placeholder {
    color: rgba(135, 144, 152, 0.8);
    font-weight: 500;
  }

  &__values {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dropdown {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(4, 61, 106, 0.2);
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 10px);
    overflow: auto;
    max-height: 260px;
    display: none;
    flex-direction: column;
    padding: 4px 0;
    z-index: 20;
    scrollbar-width: thin;
    scrollbar-color: var(--c-gray-2) var(--c-primary);
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      width: 4px;
      height: 6px;
      background: var(--c-gray-2);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--c-primary);
    }

    &.is-open {
      display: flex;
    }
  }

  &__item {
    padding: 9px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &-placeholder {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .checkbox-input__check {
      background: #d7dfe7;
    }
  }

  &.is-disabled {
    opacity: 0.5;

    .custom-select__header {
      cursor: not-allowed;
    }
  }
}



.dropdown-box {
  position: relative;
  z-index: 20;

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 1.2rem;

    svg {
      flex-shrink: 0;
    }

    &.is-fill {
      background: #ebeef0;
      border-radius: 100px;
      padding: 10px 16px 10px 24px;
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    display: none;
    z-index: 10;
    background: #ffffff;
    padding-right: 10px;
    width: max-content;
    max-width: 330px;
    min-width: 100%;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 14px rgba(4, 61, 106, 0.2);
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
} */

.swiper-pagination {
  position: unset;
  padding-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  margin: 0 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--c-gold-hover);
}

.map-block .is-gray {
  filter: invert(100%);
}

.map-block .ymaps-2-1-79-copyrights-pane {
  display: none !important;
}

.start-banner {
  background: url(../img/main-fon-1800.jpg) center top/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.start-banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(13, 19, 24, 0.3);
}

.start-banner__title {
  margin-bottom: 2.4rem;
  max-width: 69rem;
}

.start-banner__subtitle {
  margin-bottom: 4.8rem;
  max-width: 72rem;
}

.start-banner__to-content {
  background: var(--c-gold);
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: startBannerArrow 1s ease-in-out infinite;
  transition: 0.3s;
  z-index: 5;
}

.start-banner__to-content:hover {
  background: var(--c-gold-hover);
}

@keyframes startBannerArrow {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, 10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.numbers-section__item {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.numbers-section__item-bg .is-hover {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: initial;
  max-height: initial;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.numbers-section__item-content {
  position: absolute;
  bottom: 0;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.numbers-section__item-title {
  color: var(--c-gold);
}

.about-section {
  padding: 0 2rem;
}

.about-section__wrapper {
  display: flex;
  flex-direction: column;
}

.about-section__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4rem;
}

.about-section__row-image {
  width: 900px;
  max-width: 100%;
}

.about-section__row-content {
  flex-shrink: 0;
}

.about-section__row-title {
  margin-bottom: 1.6rem;
}

.wood-tent {
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 25px 0px #10161c;
  max-width: 992px;
  width: 100%;
  aspect-ratio: 992/575;
  position: relative;
}

.wood-tent__content {
  width: 100%;
  padding: 3.2rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: rgba(13, 19, 24, 0.5);
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 0;
  bottom: 0;
}

.wood-tent__content-adress {
  font-weight: 400;
  font-size: 2rem;
  padding-top: 1.6rem;
}

.tent-detail-info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.tent-detail-info__row {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.tent-detail-info__row:nth-child(even) {
  flex-direction: row-reverse;
}

.tent-detail-info__image {
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
}

.tent-detail-info__content {
  font-size: 1.6rem;
}

.tent-advantages {
  margin: 0 auto;
  position: relative;
  width: max-content;
  max-width: 100%;
}

.tent-advantages__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tent-advantages__message {
  padding: 1.8rem;
  width: 300px;
  position: absolute;
}

.tent-advantages__message.is-1 {
  left: 13%;
  top: 45%;
}

.tent-advantages__message.is-2 {
  left: 40%;
  top: 25%;
}

.tent-advantages__message.is-3 {
  left: 57%;
  top: 8%;
}

.tent-advantages__message.is-4 {
  left: 77%;
  top: 50%;
}

.tent-advantages__message.is-5 {
  left: 45%;
  top: 80%;
}

.tent-advantages__message .is-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(23, 23, 23, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.tent-advantages__message .is-mobile .tent-advantages__message-title,
.tent-advantages__message .is-mobile .tent-advantages__message-description {
  display: block;
  opacity: 1;
}

.tent-advantages__message .tent-advantages__is-mobile-content {
  display: block;
  background: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  padding: 1.6rem;
  position: relative;
}

.tent-advantages__message .tent-advantages__is-mobile-content-close {
  position: absolute;
  right: 0;
  top: -10px;
  width: 40px;
}

.tent-advantages__message::before {
  content: "";
  display: block;
  background: #ffffff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  transform: scale(0.2);
  transform-origin: left top;
}

.tent-advantages__message.is-active {
  cursor: pointer;
}

.tent-advantages__message.is-active .tent-advantages__message-point::after {
  width: 80px;
  height: 80px;
  opacity: 0;
  visibility: hidden;
}

.tent-advantages__message-point {
  width: 18px;
  height: 18px;
  position: relative;
  border: 2px solid var(--c-gold);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.tent-advantages__message-point::before {
  content: "";
  display: block;
  background: var(--c-gold);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tent-advantages__message-point::after {
  content: "";
  display: block;
  border: 2px solid var(--c-gold);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.tent-advantages__message-point:hover::after {
  width: 54px;
  height: 54px;
}

.tent-advantages__message-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.tent-advantages__message-title {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  color: #111111;
  position: relative;
  z-index: 5;
}

.tent-advantages__message-description {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  color: #111111;
  position: relative;
  z-index: 5;
  font-size: 1.4rem;
}

.tents-slider .swiper-wrapper {
  height: 425px;
}

.about-card {
  height: 100%;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 25px 0px #10161c;
}

.about-card__image {
  height: 100%;
}

.about-card__content {
  width: 100%;
  padding: 3.2rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: rgba(13, 19, 24, 0.5);
  backdrop-filter: blur(7.5px);
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
}

.about-card__content-title {
  max-width: 30rem;
}

.about-card__content-adress {
  font-weight: 400;
  padding-top: 0.8rem;
  max-width: 30rem;
}

.tent-detail-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  padding: 6rem 4rem;
}

.tent-detail-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tent-detail-card__content-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tent-detail-card__slider {
  width: 100%;
  overflow: hidden;
}

.tent-detail-card__slider .swiper.is-main {
  aspect-ratio: 1/1;
  margin-bottom: 32px;
}

.tent-detail-card__slider .swiper.is-main .swiper-slide {
  overflow: hidden;
  border-radius: 15px;
}

.tent-detail-card__slider .swiper.is-nav .swiper-slide {
  overflow: hidden;
  border-radius: 15px;
  aspect-ratio: 1/1;
  border: 2px solid transparent;
  cursor: pointer;
}

.tent-detail-card__slider .swiper.is-nav .swiper-slide.swiper-slide-thumb-active {
  border-color: var(--c-gold);
}

.consultation-form {
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 10px 10px 25px 0px #10161c;
  padding: 4.8rem;
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.consultation-form__title {
  color: #111111;
}

.consultation-form__img {
  flex-shrink: 0;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.consultation-form__content {
  width: 53%;
  position: relative;
  z-index: 10;
}

.consultation-form__form {
  max-width: 32rem;
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.consultation-form__form .button {
  margin-top: 1.6rem;
}

.constructions__tabs {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 auto 6.4rem;
}

.constructions__tab {
  display: flex;
  cursor: pointer;
  background: #1e2b37;
  transition: 0.3s;
  border-radius: 30px;
  width: 100%;
  padding: 3.2rem;
  cursor: pointer;
}

.constructions__tab.is-quadrangular {
  border-radius: 30px 0 0 30px;
  clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
  width: 50%;
  justify-content: center;
}

.constructions__tab.is-quadrangular .constructions__tab-content {
  max-width: 285px;
  transform: translate(-30%, 0);
}

.constructions__tab.is-hexoganal {
  justify-content: center;
  border-radius: 0 30px 30px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  position: absolute;
  right: 0;
  top: 0;
  width: calc(70% - 30px);
}

.constructions__tab.is-hexoganal .constructions__tab-content {
  transform: translate(25%, 0);
}

.constructions__tab.is-active {
  background: var(--c-gold);
}

.constructions__tab.is-active img.is-active {
  opacity: 1;
}

.constructions__tab.is-active .constructions__tab-title,
.constructions__tab.is-active .constructions__tab-text {
  color: #111111;
}

.constructions__tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructions__tab-image {
  position: relative;
  margin-bottom: 3.2rem;
}

.constructions__tab-image img.is-active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}

.constructions__tab-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.6rem;
  transition: 0.3s;
}

.constructions__tab-text {
  text-align: center;
  transition: 0.3s;
}

.constructions__content {
  position: relative;
}

.constructions__content-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.7rem;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.constructions__content-tab.is-visible {
  opacity: 1;
  visibility: visible;
  position: unset;
}

.constructions-card {
  padding: 2.4rem;
  background: #1e2b37;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.constructions-card__title {
  color: var(--c-gold);
}

.constructions-card__title sup {
  font-size: 70%;
}

.constructions-card__table-box {
  border: 1px solid #eee;
  padding: 27px 24px 24px;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.constructions-card__table-box-title {
  position: absolute;
  top: 0;
  left: 50%;
  background: #1e2b37;
  transform: translate(-50%, -55%);
  text-align: center;
  width: max-content;
  padding: 5px;
}

.constructions-card__table {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.constructions-card__table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.configuration-section__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.configuration-section__image {
  max-width: 800px;
}

.configuration-section__row {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  margin: 4rem 0;
}

.configuration-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.configuration-groups .tab-heandler {
  font-weight: 700;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.configuration-groups .tab-heandler:hover {
  color: var(--c-gold-hover);
}

.configuration-groups .tab-heandler.is-active {
  color: var(--c-gold-hover);
}

.configuration-groups .tab-heandler.is-active::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--c-gold-hover);
  position: absolute;
  top: 100%;
}

.configuration-items {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.configuration-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: max-content;
  cursor: pointer;
}

.configuration-item__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.configuration-item__name {
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
  position: relative;
}

.configuration-item:hover .configuration-item__name {
  color: var(--c-gold-hover);
}

.configuration-item.is-active .configuration-item__name {
  color: var(--c-gold-hover);
}

.configuration-item.is-active .configuration-item__name::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--c-gold-hover);
  position: absolute;
  top: 100%;
}

.vizualization-section__box {
  border-radius: 30px;
  background: #eee;
  box-shadow: 10px 10px 25px 0px #10161c;
  padding: 4.8rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 992px;
  margin: 0 auto;
}

.vizualization-section__content {
  color: #111111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.vizualization-section__img {
  flex-shrink: 0;
}

.connections-block {
  display: flex;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
}

.connections-block > div {
  width: 50%;
}

.production-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  text-align: center;
  font-weight: 700;
}

.production-section-card img {
  max-width: 200px;
}

.production-section {
  background: url(../img/production_block/production_block__bg.png) center left no-repeat;
}

.promotion-block {
  border-radius: 30px;
  background: url(../img/Promotion_second_block_img.png) right center/55% no-repeat, radial-gradient(137.55% 102.19% at 102.52% 105.92%, #617282 0%, #a2aac7 50%, #eee 100%);
  box-shadow: 10px 10px 25px 0px #10161c;
  padding: 6.4rem 4.8rem;
  max-width: 900px;
  margin: 0 auto;
}

.promotion-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.4rem;
}

.promotion-block__content .h1 {
  color: #111111;
}

.catalog-block {
  border-radius: 30px;
  background: url(../img/Catalog_block_img.png) left center/50% no-repeat, radial-gradient(171.24% 116.15% at 86.74% 77.49%, #eee 30.11%, #a2aac7 82.04%, #617282 100%);
  box-shadow: 10px 10px 25px 0px #10161c;
  padding: 6.4rem 4.8rem;
  max-width: 900px;
  margin: 0 auto;
}

.catalog-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.4rem;
}

.catalog-block__content-footer {
  display: flex;
  color: #111111;
  gap: 3.2rem;
}

.catalog-block__content .h1 {
  color: #111111;
}

.team-section .swiper {
  max-width: 768px;
  margin: 0 auto;
}

.team-section__slider {
  position: relative;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.team-card__img {
  border-radius: 15px;
  overflow: hidden;
}

.team-card__name {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.team-card__post {
  font-size: 1.4rem;
  text-align: center;
}

.revard-section .revard-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.quize-form {
  max-width: 1021px;
  margin: 0 auto;
  border-radius: 30px;
  background: #1e2b37;
  box-shadow: 5px 5px 25px 0px rgba(13, 19, 24, 0.75);
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.quize-form__title {
  text-align: center;
}

.quize-form__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.quize-form__progress-steps {
  position: relative;
  width: 100%;
  text-align: center;
}

.quize-form__back {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.quize-form__back path {
  transition: 0.3s;
}

.quize-form__back:hover {
  color: var(--c-gold);
}

.quize-form__back:hover path {
  stroke: var(--c-gold);
}

.quize-form__progress-bar {
  background: #13212d;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  overflow: hidden;
}

.quize-form__progress-bar-inner {
  background: var(--c-gold);
  height: 100%;
  border-radius: 30px;
  transition: 0.3s;
}

.quize-form__input-placeholder {
  margin-bottom: 3.2rem;
  text-align: center;
}

.quize-form__input-placeholder.is-success {
  margin-bottom: 0;
}

.quize-form__field input {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: var(--c-gold);
  border-color: var(--c-gold-hover);
}

.quize-form__next {
  min-width: initial;
  width: 162px;
  margin: 0 auto;
}

.header {
  height: 10rem;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  width: 100%;
  background: var(--c-primary);
}

.header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  gap: 6rem;
}

.header__nav-wrapper-cross {
  position: absolute;
  top: 8px;
  right: 20px;
}

.header__nav-item {
  font-size: 2.4rem;
  font-weight: 400;
}

.header__nav-wrapper-cross {
  cursor: pointer;
}

.header__phone {
  font-size: 2rem;
  font-weight: 700;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__socials svg path,
.header__socials svg rect {
  transition: 0.3s;
}

.header__socials a:hover svg:not(.is-youtube) path {
  fill: var(--c-gold);
}

.header__socials a:hover svg.is-youtube path {
  stroke: var(--c-gold);
}

.header__socials a:focus svg:not(.is-youtube) path {
  fill: var(--c-gold-hover);
}

.header__socials a:focus svg.is-youtube path {
  stroke: var(--c-gold-hover);
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 58% 42%;
  background: #1e2b37;
}

.footer__content {
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.footer__content-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  max-width: 32rem;
}

.footer__form .button {
  width: 157px;
  font-weight: 400;
  padding: 0;
  min-width: initial;
}

.footer__form-messengers {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer__form-messenger {
  cursor: pointer;
}

.footer__form-messenger svg path,
.footer__form-messenger svg rect {
  transition: 0.3s;
}

.footer__form-messenger:hover svg.is-viber path {
  fill: var(--c-gold);
}

.footer__form-messenger:hover svg.is-whatsapp path {
  fill: var(--c-gold);
}

.footer__form-messenger:hover svg.is-telegram path {
  stroke: var(--c-gold);
}

.footer__form-messenger:hover svg.is-telegram rect {
  stroke: var(--c-gold);
}

.footer__form-messenger:hover svg.is-phone path {
  stroke: var(--c-gold);
}

.footer__form-messenger:hover svg.is-phone rect {
  stroke: var(--c-gold);
}

.footer__form-messenger input {
  display: none;
}

.footer__form-messenger input:checked + .footer__form-messenger-icon svg.is-viber path {
  fill: var(--c-gold-hover);
}

.footer__form-messenger input:checked + .footer__form-messenger-icon svg.is-whatsapp path {
  fill: var(--c-gold-hover);
}

.footer__form-messenger input:checked + .footer__form-messenger-icon svg.is-telegram path {
  stroke: var(--c-gold-hover);
}

.footer__form-messenger input:checked + .footer__form-messenger-icon svg.is-phone path {
  stroke: var(--c-gold-hover);
}

.footer__form-messenger input:checked + .footer__form-messenger-icon svg.is-phone rect {
  stroke: var(--c-gold-hover);
}

.footer__middle {
  background: #13212d;
  padding: 3rem 0;
}

.footer__bottom {
  background: #111111;
  text-align: center;
  padding: 2rem 0;
  font-weight: 700;
}

.footer-map {
  height: 100%;
}

.footer-map .is-gray {
  filter: grayscale(1);
}

.to-top-btn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 6.4rem;
  bottom: 6.4rem;
  cursor: pointer;
  background: var(--c-gold);
  transition: 0.3s;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.to-top-btn.is-visible {
  opacity: 1;
  visibility: visible;
}

.to-top-btn:hover {
  background: var(--c-gold-hover);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(23, 23, 23, 0.8);
  padding: 80px 20px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: var(--c-primary);
  border-radius: 30px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  padding: 3.2rem 6.4rem;
}

.popup__wrapper.is-small {
  background: #eee;
  max-width: 500px;
  padding: 3.2rem 9rem;
}

.popup__wrapper.is-small .popup__close {
  background: none;
}

.popup__wrapper.is-small .popup__close path {
  stroke: #111111;
}

.popup__close {
  width: 54px;
  height: 54px;
  background: var(--c-primary);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 50;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__title {
  color: #ffffff;
  flex-shrink: 0;
  text-align: center;
  margin: 0 auto 4rem;
  width: calc(100% - 10rem);
}

/* Sections */

/* Blocks */

@media screen and (min-width: 500px) {
  .popup.is-center .popup__wrapper {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 576px) {
  .consultation-form__form .button {
    max-width: 20rem;
  }
}

@media screen and (min-width: 577px) {
  .mobile-visible {
    display: none !important;
  }
}

@media screen and (min-width: 780px) {
  .production-section-card .h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 781px) {
  .tablet-visible {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  .numbers-section .swiper-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6.4rem 11.2rem;
  }

  .numbers-section .swiper-slide {
    width: max-content;
  }

  .numbers-section__item:hover .numbers-section__item-bg .is-hover {
    opacity: 1;
  }

  .numbers-section__item:hover .numbers-section__item-content {
    bottom: 100%;
    transform: translate(0, 120%);
  }

  .numbers-section__item-text {
    position: absolute;
    top: calc(100% + 1.6rem);
  }

  .about-section__row:nth-child(even) {
    flex-direction: row-reverse;
  }

  .about-section__row-content {
    max-width: 56rem;
  }

  .tent-detail-info__row:nth-child(odd) .tent-detail-info__image {
    width: calc(50% - 3.2rem);
  }

  .tent-detail-info__image {
    width: 50%;
  }

  .tents-slider .swiper-slide {
    width: 736px;
  }

  .consultation-form {
    display: flex;
    justify-content: flex-end;
    min-height: 60rem;
  }

  .production-section .swiper-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6.4rem 11.2rem;
  }

  .production-section .swiper-slide {
    width: max-content;
  }

  .catalog-block {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1025px) {
  .netbook-visible {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .tent-advantages__message {
    z-index: 50;
  }

  .tent-advantages__message .is-mobile {
    display: none;
  }

  .tent-advantages__message.is-active::before {
    transform: scale(1);
    opacity: 1;
  }

  .tent-advantages__message.is-active .tent-advantages__message-title {
    opacity: 1;
    visibility: visible;
    width: auto;
  }

  .tent-advantages__message.is-active .tent-advantages__message-description {
    opacity: 1;
    visibility: visible;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .header .container {
    padding: 0 6.4rem;
  }
}

@media screen and (min-width: 1281px) {
  .laptop-visible {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .laptop-hidden {
    display: none !important;
  }

  .header__nav {
    gap: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .tent-advantages__message .is-desktop .tent-advantages__message-title,
  .tent-advantages__message .is-desktop .tent-advantages__message-description {
    display: none;
  }

  .tent-advantages__message.is-active .is-mobile {
    opacity: 1;
    visibility: visible;
  }

  .tent-advantages__message.is-active .is-mobile .tent-advantages__message-title {
    width: calc(100% - 20px);
  }

  .tent-advantages__message.is-active .is-mobile .tent-advantages__message-title,
  .tent-advantages__message.is-active .is-mobile .tent-advantages__message-description {
    visibility: visible;
  }
}

@media screen and (max-width: 1024px) {
  .netbook-hidden {
    display: none !important;
  }

  .numbers-section__item {
    width: max-content;
    margin: 0 auto;
  }

  .numbers-section__item-bg .is-hover {
    opacity: 1;
  }

  .numbers-section__item-content {
    bottom: 50%;
    transform: translate(0, 50%);
  }

  .numbers-section__item-title {
    margin-bottom: 1.6rem;
  }

  .about-section__row {
    flex-direction: column;
  }

  .wood-tent {
    border-radius: 15px;
  }

  .wood-tent__content {
    padding: 0.8rem 1.6rem;
  }

  .tent-detail-info__row {
    flex-direction: column !important;
  }

  .tents-slider {
    padding: 0 20px;
  }

  .tents-slider .swiper-wrapper {
    height: 325px;
  }

  .tents-slider .swiper-wrapper .swiper-slider__arrow {
    display: none;
  }

  .about-card {
    border-radius: 15px;
  }

  .about-card__content {
    padding: 0.8rem 1.6rem;
  }

  .tent-detail-card {
    padding: 6rem 0;
  }

  .consultation-form__img {
    display: none;
  }

  .consultation-form__content {
    width: 100%;
  }

  .consultation-form__form {
    max-width: 100%;
  }

  .constructions__tabs {
    margin: 0 auto 3.2rem;
  }

  .constructions__tab {
    padding: 1rem;
  }

  .constructions__content-tab {
    display: flex;
    gap: 3.27rem;
    overflow: auto;
    padding: 0 6rem;
    margin: 0 -2rem;
  }

  .constructions-card {
    width: 25rem;
    flex-shrink: 0;
    padding: 1.6rem 2.4rem;
    border-radius: 15px;
  }

  .constructions-card__table-box-title {
    font-size: 1.4rem !important;
  }

  .constructions-card__table-td {
    font-size: 1.4rem;
  }

  .configuration-section__main {
    flex-direction: column-reverse;
    margin-bottom: 3.2rem;
  }

  .configuration-section__main .h1 {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .configuration-section__row {
    align-items: center;
  }

  .vizualization-section__box {
    flex-direction: column-reverse;
    padding: 3rem;
    gap: 2rem;
  }

  .vizualization-section__content .h1 {
    text-align: center;
    width: 100%;
  }

  .production-section {
    background-size: contain;
  }

  .promotion-block {
    background: url(../img/Promotion_second_block_img.png) center/100% auto no-repeat, radial-gradient(137.55% 102.19% at 102.52% 105.92%, #617282 0%, #a2aac7 50%, #eee 100%);
    padding: 3.2rem;
    aspect-ratio: 67/57;
  }

  .promotion-block__content {
    text-align: center;
    height: 100%;
    justify-content: space-between;
  }

  .promotion-block__content .h1 {
    text-align: center;
    width: 100%;
  }

  .promotion-block__content .button {
    width: 100%;
  }

  .catalog-block {
    background: url(../img/Catalog_block_img-mobile.png) center/100% 40% no-repeat, radial-gradient(137.55% 102.19% at 102.52% 105.92%, #617282 0%, #a2aac7 50%, #eee 100%);
    padding: 3.2rem;
    aspect-ratio: 67/67;
  }

  .catalog-block__content {
    text-align: center;
    height: 100%;
    justify-content: space-between;
  }

  .catalog-block__content-footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
  }

  .catalog-block__content .h1 {
    text-align: center;
    width: 100%;
  }

  .catalog-block__content .button {
    width: 100%;
  }

  .revard-section .swiper {
    margin: 0 -2rem;
  }

  .revard-section .swiper .swiper-slide {
    width: 165px;
  }

  .header {
    height: 7.4rem;
  }

  .header__nav {
    flex-direction: column;
    gap: 6.4rem;
  }

  .header__nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--c-primary);
    z-index: 50;
    padding: 7.4rem 4.8rem 4rem;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .header__nav-wrapper.is-active {
    opacity: 1;
    visibility: visible;
  }

  .footer__wrapper {
    display: block;
  }

  .footer__content {
    padding: 3.2rem 2rem;
    gap: 3.2rem;
  }

  .footer__middle {
    padding: 1.2rem 0;
  }

  .footer__middle .header__wrapper {
    justify-content: center;
  }

  .to-top-btn {
    width: 5.4rem;
    height: 5.4rem;
  }

  .to-top-btn svg {
    width: 17px;
  }

  .popup__wrapper {
    padding: 5rem 2rem 2rem;
  }
}

@media screen and (max-width: 780px) {
  .tablet-hidden {
    display: none !important;
  }

  h1,
  .h1 {
    font-size: 2.4rem;
  }

  h2,
  .h2 {
    font-size: 2.6rem;
  }

  h3,
  .h3 {
    font-size: 1.6rem;
  }

  h4,
  .h4 {
    font-size: 2.6rem;
  }

  .page-section {
    margin-bottom: 6rem;
  }

  .page-section__title-box {
    margin-bottom: 3.2rem;
  }

  .page-section__title-box br {
    display: none;
  }

  .wood-tent__content-title {
    font-size: 1.6rem !important;
  }

  .wood-tent__content-adress {
    padding-top: 0.8rem;
    font-size: 1.4rem;
  }

  .about-card__content-title {
    font-size: 1.6rem !important;
  }

  .about-card__content-adress {
    padding-top: 0.8rem;
    font-size: 1.4rem;
  }

  .tent-detail-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
    padding: 0;
  }

  .tent-detail-card__slider .swiper.is-main {
    aspect-ratio: initial;
    margin-bottom: 0;
  }

  .tent-detail-card__slider .swiper.is-main .swiper-slide {
    height: 325px;
  }

  .tent-detail-card__slider .swiper.is-nav {
    display: none;
  }

  .constructions__tab-image {
    height: 46px;
    margin-bottom: 1rem;
  }

  .constructions__tab-title {
    font-size: 1.4rem !important;
    margin-bottom: 0;
  }

  .configuration-groups {
    margin-bottom: 3.2rem;
  }

  .configuration-groups .tab-heandler {
    font-size: 1.4rem;
  }

  .configuration-item__icon {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
  }

  .configuration-item__name {
    font-size: 1.4rem;
  }

  .connections-block {
    flex-direction: column;
  }

  .connections-block > div {
    width: 100%;
  }

  .connections-block > div h2 {
    text-align: center;
  }

  .team-section .swiper {
    margin: 0 -2rem;
  }

  .team-section .swiper .swiper-slide {
    width: 192px;
  }

  .team-section .swiper-slider__arrow {
    display: none;
  }

  .quize-form {
    gap: 3.2rem;
    padding: 3.2rem 2rem;
  }

  .to-top-btn {
    display: none;
  }

  .popup__wrapper {
    padding: 2.4rem 2rem;
  }
}

@media screen and (max-width: 576px) {
  .mobile-hidden {
    display: none !important;
  }

  .button.is-large {
    font-size: 1.6rem;
    height: 6rem;
  }

  .button.is-medium {
    font-size: 1.6rem;
    height: 5.2rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
  }

  h4,
  .h4 {
    font-size: 1.6rem;
  }

  .start-banner {
    text-align: center;
  }

  .start-banner .button {
    width: 100%;
  }

  .start-banner__to-content {
    width: 5.4rem;
    height: 5.4rem;
  }

  .start-banner__to-content svg {
    width: 17px;
  }

  .tents-slider .swiper-wrapper {
    height: 225px;
  }

  .tent-detail-card__slider .swiper.is-main .swiper-slide {
    height: 200px;
  }

  .consultation-form {
    padding: 3.2rem;
  }

  .consultation-form__title {
    text-align: center;
  }

  .constructions__tab.is-quadrangular {
    width: 55%;
    border-radius: 15px 0 0 15px;
  }

  .constructions__tab.is-quadrangular .constructions__tab-content {
    transform: translate(-15%, 0);
  }

  .constructions__tab.is-hexoganal {
    width: calc(70% - 10px);
    border-radius: 0 15px 15px 0;
  }

  .constructions__tab.is-hexoganal .constructions__tab-content {
    transform: translate(15%, 0);
  }

  .vizualization-section__content .button {
    width: 100%;
  }

  .promotion-block {
    aspect-ratio: 67/78;
  }

  .catalog-block {
    aspect-ratio: 67/88;
  }

  .footer__content {
    text-align: center;
  }

  .footer__content .h1 br {
    display: none;
  }

  .footer__form {
    gap: 1.6rem;
    max-width: 100%;
    width: 100%;
  }

  .footer__form .button {
    width: 100%;
  }

  .footer__form-messengers {
    justify-content: center;
    width: 100%;
  }

  .footer__middle .header__socials {
    justify-content: space-around;
    width: 100%;
  }

  .footer__bottom {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 2.4rem 2rem;
  }

  .popup {
    padding: 20px;
  }

  .popup__wrapper.is-small {
    padding: 4.8rem 3.2rem;
  }
}

@media screen and (max-width: 500px) {
  .tent-advantages__wrapper {
    top: -15px;
    left: -30px;
  }
}

@media screen and (max-width: 375px) {
  h1,
  .h1 {
    font-size: 2rem;
  }

  h2,
  .h2 {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=maps/styles.css.map */
