<!doctype html>
<html lang="ru" class="hidden-scrollbar">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Luxmodule</title>
  <meta name="theme-color" content="#fff" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
  />
  <link
    rel="shortcut icon"
    href="img/favicons/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="icon"
    sizes="16x16"
    href="img/favicons/favicon-16x16.png"
    type="image/png"
  />
  <link
    rel="icon"
    sizes="32x32"
    href="img/favicons/favicon-32x32.png"
    type="image/png"
  />
  <link
    rel="apple-touch-icon-precomposed"
    href="img/favicons/apple-touch-icon-precomposed.png"
  />
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="img/favicons/apple-touch-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="img/favicons/apple-touch-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="img/favicons/apple-touch-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="img/favicons/apple-touch-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="img/favicons/apple-touch-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="img/favicons/apple-touch-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="img/favicons/apple-touch-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="img/favicons/apple-touch-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="167x167"
    href="img/favicons/apple-touch-icon-167x167.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="img/favicons/apple-touch-icon-180x180.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="1024x1024"
    href="img/favicons/apple-touch-icon-1024x1024.png"
  />

  <link rel="stylesheet" href="./styles/fancybox-5.0.min.css" />
  <link rel="stylesheet" href="./styles/swiper.min.css" />

  <link rel="stylesheet" href="./styles/styles.css" />
</head>

  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.180.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.180.0/examples/jsm/"
      }
    }
  </script>
  <body class="hidden-scrollbar">
    <main class="constructor-page">
      <div class="constructor-page__loader"></div>
      <div class="canvas-wr">
        <canvas class="canvas"></canvas>
      </div>

      <div id="constructor">
        <div
          class="constructor-wr"
          :class="{'constructor-wr--open' : menuIsVisible}"
        >
          <div class="constructor__opener" @click="toogleMenu">
            {{ menuIsVisible ? 'CLOSE' :'OPEN' }}
          </div>
          <div class="constructor__inner">
            <div class="constructor-section">
              <div class="constructor-section__title">Type</div>
              <div class="custom-select">
                <div class="custom-select-opener">
                  <input
                    class="custom-select-opener__value"
                    type="text"
                    placeholder=" "
                    readonly
                    :value="models[currentModel].label"
                  />
                </div>
                <div class="custom-select-dropdown is-no-scroll">
                  <div
                    v-for="(model, index) in models"
                    :key="index"
                    class="custom-select-option"
                    :data-value="model.name"
                    :class="{'is-selected': currentModel === model.name }"
                    @click="changeModel(model.name)"
                  >
                    {{ model.label }}
                  </div>
                </div>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Ground Material</div>
              <div class="custom-select">
                <div class="custom-select-opener">
                  <input
                    class="custom-select-opener__value"
                    type="text"
                    placeholder=" "
                    readonly
                    :value="groundTextures[currentGround].label"
                  />
                </div>
                <div class="custom-select-dropdown">
                  <div
                    v-for="(texture, index) in groundTextures"
                    :key="index"
                    class="custom-select-option"
                    :data-value="texture.label"
                    :class="{'is-selected': texture.label === groundTextures[currentGround].label}"
                    @click="changeFloor(index)"
                  >
                    {{texture.label}}
                  </div>
                </div>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Sydewalls</div>
              <div class="checkboxes-wr">
                <label class="form-input is-checkbox checkbox-input">
                  <input
                    v-model="isSideWallsVisible"
                    type="checkbox"
                    class="input"
                    @change="changeWallsStatus"
                  />
                  <div class="checkbox-input__check">
                    <div class="checkbox-input__check-icon"></div>
                  </div>
                  <div class="checkbox-input__placeholder">Add Sydewalls</div>
                </label>
                <label class="form-input is-checkbox checkbox-input">
                  <input
                    v-model="isWindowsVisible"
                    type="checkbox"
                    class="input"
                    @change="changeWindowsStatus"
                  />
                  <div class="checkbox-input__check">
                    <div class="checkbox-input__check-icon"></div>
                  </div>
                  <div class="checkbox-input__placeholder">Add Windows</div>
                </label>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Human</div>
              <div class="checkboxes-wr">
                <label class="form-input is-checkbox checkbox-input">
                  <input
                    v-model="isHumanVisible"
                    type="checkbox"
                    class="input"
                    @change="changeHumanStatus"
                  />
                  <div class="checkbox-input__check">
                    <div class="checkbox-input__check-icon"></div>
                  </div>
                  <div class="checkbox-input__placeholder">
                    Show reference human (180 cm)
                  </div>
                </label>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Color</div>
              <div class="colors-block">
                <div class="colors-block__title">Tent Color</div>
                <div class="constructor-colors-wrapper">
                  <div
                    v-for="(color, index) in wningColors"
                    :key="index"
                    class="constructor-color"
                    :class="{'constructor-color--active': color === whingColor}"
                    @click="setWhingColor(color)"
                  >
                    <div
                      class="constructor-color__color"
                      :style="{'background-color': colorsObj[color]}"
                    ></div>
                    <div class="constructor-color__name">{{color}}</div>
                  </div>
                </div>
              </div>
              <div class="colors-block">
                <div class="colors-block__title">Frame Color</div>
                <div class="constructor-colors-wrapper">
                  <div
                    v-for="(color, index) in skeletonColors"
                    :key="index"
                    class="constructor-color"
                    :class="{'constructor-color--active': color === skeletonColor}"
                    @click="setSkeletonColor(color)"
                  >
                    <div
                      class="constructor-color__color"
                      :style="{'background-color': colorsObj[color]}"
                    ></div>
                    <div class="constructor-color__name">{{color}}</div>
                  </div>
                </div>
              </div>
              <div class="colors-block">
                <div class="colors-block__title">Doors Color</div>
                <div class="constructor-colors-wrapper">
                  <div
                    v-for="(color, index) in skeletonColors"
                    :key="index"
                    class="constructor-color"
                    :class="{'constructor-color--active': color === doorsColor}"
                    @click="setDoorsColor(color)"
                  >
                    <div
                      class="constructor-color__color"
                      :style="{'background-color': colorsObj[color]}"
                    ></div>
                    <div class="constructor-color__name">{{color}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Branding</div>
              <div class="box-w-label">
                <div class="box-w-label__label">Branding</div>
                <div class="custom-select">
                  <div class="custom-select-opener">
                    <input
                      class="custom-select-opener__value"
                      type="text"
                      placeholder=" "
                      readonly
                      :value="brandingVariants[currentBranding].label"
                    />
                  </div>
                  <div class="custom-select-dropdown">
                    <div
                      v-for="(item, index) in brandingVariants"
                      :key="index"
                      class="custom-select-option"
                      :data-value="item.label"
                      :class="{'is-selected': item.label === brandingVariants[currentBranding].label}"
                      @click="changeBranding(index)"
                    >
                      {{item.label}}
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="isCustomLogoBranding" class="box-w-label">
                <div class="box-w-label__label">Logo Upload</div>
                <label class="file-input">
                  <input type="file" @change="changeLogo" />
                  <div class="button is-primary">Choose File</div>
                </label>
              </div>
              <div v-show="isCustomLogoBranding" class="box-w-label">
                <div class="box-w-label__label">Logo Upload</div>
                <div class="custom-select">
                  <div class="custom-select-opener">
                    <input
                      class="custom-select-opener__value"
                      type="text"
                      placeholder=" "
                      readonly
                      :value="`${currentLogoSides} side`"
                    />
                  </div>
                  <div class="custom-select-dropdown">
                    <div
                      v-for="item in logoAreas.length"
                      :key="item"
                      class="custom-select-option"
                      :data-value="item"
                      :class="{'is-selected': item === currentLogoSides}"
                      @click="changeLogoSides(item, $event)"
                    >
                      {{item}} side
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="constructor-section">
              <div class="constructor-section__title">Client Information</div>
              <label class="form-input is-required">
                <input
                  v-model="formData.name"
                  type="text"
                  class="input"
                  placeholder="Name"
                />
              </label>
              <!--           <label class="form-input is-required">
            <input
              v-model="formData.company"
              type="text"
              class="input"
              placeholder="Company"
            />
          </label> -->
              <!-- <div class="custom-select">
            <div class="custom-select-opener">
              <input
                v-model="formData.country"
                class="custom-select-opener__value"
                type="text"
                placeholder="Country"
                readonly
              />
            </div>
            <div class="custom-select-dropdown">
              <div
                v-for="item in countries"
                :key="item"
                class="custom-select-option"
                :data-value="item"
                :class="{'is-selected': item === formData.country}"
              >
                {{item}}
              </div>
            </div>
          </div> -->
              <label class="form-input is-required">
                <input
                  v-model="formData.email"
                  type="text"
                  class="input"
                  placeholder="E-mail"
                />
              </label>
              <label class="form-input is-required">
                <input
                  v-model="formData.phone"
                  type="text"
                  class="input"
                  placeholder="Phone Number"
                />
              </label>
              <label class="form-input is-checkbox checkbox-input">
                <input type="checkbox" class="input" />
                <div class="checkbox-input__check">
                  <div class="checkbox-input__check-icon"></div>
                </div>
                <div class="checkbox-input__placeholder">
                  I agree to the processing of personal data
                </div>
              </label>
              <button type="button" class="button is-primary">Submit</button>
            </div>
          </div>
        </div>
        <div
          class="constructor__preview-wr"
          :class="{'constructor__preview-wr--fw': !menuIsVisible, 'constructor__preview-wr--closed': !previewMenuIsVisible}"
        >
          <div class="constructor__opener" @click="tooglePreviewMenu">
            {{ previewMenuIsVisible ? 'CLOSE' :'OPEN' }}
          </div>
          <div class="constructor__preview-wr-inner">
            <div
              v-for="(item, index) in models"
              :key="index"
              class="constructor__preview-item"
              :class="{'constructor__preview-item--active': currentModel === item.name}"
              @click="changeModel(item.name)"
            >
              <div class="constructor__preview-item-img">
                <img :src="item.previewUrl" alt="" />
              </div>
              <div class="constructor__preview-item-label">
                {{ item.label }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<script type="module">
  import {
    createApp,
    ref,
    reactive,
    watch,
    computed,
    onMounted,
  } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
  import * as THREE from 'three';
  import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
  import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

  const BgLoader = document.querySelector('.constructor-page__loader');

  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  };

  const textureLoader = new THREE.TextureLoader();
  const loader = new GLTFLoader();

  const scene = new THREE.Scene();
  const canvas = document.querySelector('.canvas');
  const camera = new THREE.PerspectiveCamera(75, sizes.width / sizes.height);
  scene.add(camera);
  camera.position.set(0, 50, 250);
  scene.background = new THREE.Color('#000000');

  const controls = new OrbitControls(camera, canvas);
  controls.enableDamping = true;
  controls.minDistance = 50;
  controls.maxDistance = 250;
  controls.maxPolarAngle = Math.PI / 2.1;
  controls.mouseButtons = {
    LEFT: THREE.MOUSE.ROTATE,
    MIDDLE: THREE.MOUSE.DOLLY,
    RIGHT: THREE.MOUSE.ROTATE,
  };

  const renderer = new THREE.WebGLRenderer({ canvas });
  renderer.setSize(sizes.width, sizes.height);
  renderer.render(scene, camera);

  createApp({
    setup() {
      const currentModel = ref('eco36');
      const currentGround = ref('sand');
      const isSideWallsVisible = ref(false);
      const isWindowsVisible = ref(false);
      const isHumanVisible = ref(false);
      const whingColor = ref('transparent');
      const skeletonColor = ref('natural');
      const doorsColor = ref('');
      const currentBranding = ref('noBranding');
      const currentLogoSides = ref(4);
      const menuIsVisible = ref(window.innerWidth > 1024);
      const previewMenuIsVisible = ref(window.innerWidth > 1024);
      const floorRadius = 300;

      const formData = reactive({
        name: '',
        company: '',
        country: '',
        email: '',
        phone: '',
      });

      const groundTextures = {
        sand: {
          label: 'Beach',
          name: 'sand',
          repeatX: 4,
          repeatY: 4,
          backgroundUrl: './img/Sand-comp.jpeg',
          floorUrl: './img/textures/1742989161947.png',
          backgroundPositionY: 30,
        },
        grass: {
          label: 'Park area',
          name: 'grass',
          repeatX: 30,
          repeatY: 30,
          backgroundUrl: './img/5-grass-soliltude-comp.jpg',
          floorUrl: './img/textures/photo_2025-10-13_11-47-33.jpg',
          backgroundPositionY: 41,
        },
        street: {
          label: 'City square',
          name: 'street',
          repeatX: 80,
          repeatY: 80,
          backgroundUrl: './img/street-comp.jpeg',
          floorUrl: './img/textures/photo_2025-10-13_11-20-07.jpg',
          backgroundPositionY: 30,
        },
      };

      const colorsObj = {
        white: '#FEFEFE',
        lightGrey: '#C0C0C0',
        vanilla: '#FDF1D4',
        darkGrey: '#656564',
        beige: '#C6AA7F',
        tinted: '#35292A',
        red: '#FE0103',
        transparent: '#DBEAF9',
        natural: '#D9B893',
        brown: '#895129',
        green: '#00D75E',
        blue: '#018ED7',
        black: '#000000',
      };
      const wningColors = [
        'transparent',
        'white',
        'vanilla',
        'green',
        'blue',
        'red',
        'beige',
        'brown',
        'lightGrey',
        'black',
      ];
      const skeletonColors = ['natural', 'brown', 'white', 'beige'];
      const models = {
        eco36: {
          label: 'Dome S',
          name: 'eco36',
          previewUrl: './img/models/Dome_S.png',
        },
        eco64: {
          label: 'Dome M',
          name: 'eco64',
          previewUrl: './img/models/Dome_M.png',
        },
        eco100: {
          label: 'Dome L',
          name: 'eco100',
          previewUrl: './img/models/Dome_L.png',
        },
        hexa95: {
          label: 'Hexa S',
          name: 'hexa95',
          previewUrl: './img/models/Hexa_S.png',
        },
        hexa170: {
          label: 'Hexa M',
          name: 'hexa170',
          previewUrl: './img/models/Hexa_M.png',
        },
        hexa285: {
          label: 'Hexa L',
          name: 'hexa285',
          previewUrl: './img/models/Hexa_L.png',
        },
        octa480: {
          label: 'Octa L',
          name: 'octa480',
          previewUrl: './img/models/Octa_L.png',
        },
        grand400: {
          label: 'Grand S',
          name: 'grand400',
          previewUrl: './img/models/Grand_S.png',
        },
      };
      const modelsSettings = {
        eco36: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 100,
          },
          bannerLogoTextureOffset: {
            x: 1,
            y: 0,
          },
        },
        eco64: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 100,
          },
          bannerLogoTextureOffset: {
            x: 1,
            y: 0,
          },
        },
        eco100: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 120,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        grand400: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 200,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        grand600: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 200,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        hexa95: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 120,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        hexa170: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 150,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        hexa285: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 180,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
        octa480: {
          cameraPosition: {
            x: 50,
            y: 70,
            z: 230,
          },
          bannerLogoTextureOffset: {
            x: 0,
            y: 0,
          },
        },
      };
      const brandingVariants = {
        noBranding: {
          label: 'No Branding',
        },
        customLogo: {
          label: 'Custom logo',
        },
        fullWrapp: {
          label: 'Full Wrap Preview',
        },
      };
      const countries = [
        'Albania',
        'Belarus',
        'Poland',
        'Russia',
        'USA',
        'Albania',
        'Belarus',
        'Poland',
        'Russia',
        'USA',
      ];

      const isCustomLogoBranding = computed(() => {
        return currentBranding.value === 'customLogo';
      });

      const getBackgroundTexture = (backgroundUrl) => {
        const texture = textureLoader.load(backgroundUrl);
        texture.colorSpace = THREE.SRGBColorSpace;

        return texture;
      };

      const sphereGeometry = new THREE.SphereGeometry(floorRadius, 32, 32);
      const sphereMaterial = new THREE.MeshBasicMaterial({
        map: getBackgroundTexture(
          groundTextures[currentGround.value].backgroundUrl,
        ),
        side: THREE.BackSide,
        opacity: 1,
        transparent: false,
      });
      sphereMaterial.color.set(new THREE.Color('#ffffff'));
      const backgroundSphere = new THREE.Mesh(sphereGeometry, sphereMaterial);
      backgroundSphere.position.y = 30;
      scene.add(backgroundSphere);

      const getFloorTexture = (floorUrl, repeatX, repeatY) => {
        const texture = new THREE.TextureLoader().load(floorUrl);
        texture.colorSpace = THREE.SRGBColorSpace;
        texture.wrapS = THREE.RepeatWrapping;
        texture.wrapT = THREE.RepeatWrapping;
        texture.repeat.set(repeatX, repeatY);

        return texture;
      };

      const floor = new THREE.Mesh(
        new THREE.CircleGeometry(floorRadius, 128),
        new THREE.MeshStandardMaterial({
          map: getFloorTexture(
            groundTextures[currentGround.value].floorUrl,
            groundTextures[currentGround.value].repeatX,
            groundTextures[currentGround.value].repeatY,
          ),
          color: 'white',
          metalness: 0,
          roughness: 1,
        }),
      );
      floor.receiveShadow = true;
      floor.rotation.x = -Math.PI * 0.5;
      floor.position.y = 0.02;
      scene.add(floor);

      function changeFloor(value) {
        const { floorUrl, backgroundUrl, repeatX, repeatY } =
          groundTextures[value];
        console.log(floorUrl, backgroundUrl, repeatX, repeatY);
        if (groundTextures[currentGround.value].name === name) return;

        currentGround.value = value;
        floor.material.map = getFloorTexture(floorUrl, repeatX, repeatY);

        backgroundSphere.material.map = getBackgroundTexture(backgroundUrl);
        backgroundSphere.position.y =
          groundTextures[currentGround.value].backgroundPositionY;
      }

      function addAmbientLight() {
        const ambientLight = new THREE.AmbientLight(0xffffff, 1);
        scene.add(ambientLight);
      }

      function addRectLight() {
        const hemiLight = new THREE.HemisphereLight(0xffffbb, 0x080820, 1);
        hemiLight.position.set(0, 150, 0);
        scene.add(hemiLight);
      }

      function addHemiLight() {
        const width = 20;
        const height = 20;
        const intensity = 1;
        const rectLight = new THREE.RectAreaLight(
          0xffffff,
          intensity,
          width,
          height,
        );
        rectLight.position.set(0, 150, 0);
        rectLight.lookAt(0, 0, 0);
        scene.add(rectLight);
      }

      function addDirectionalLight() {
        const dirLight = new THREE.DirectionalLight(0xffffff, 0.58);
        dirLight.position.set(100, 200, -30);
        dirLight.castShadow = true;
        dirLight.shadow.mapSize = new THREE.Vector2(2048, 2048);
        scene.add(dirLight);
      }

      addAmbientLight();
      addRectLight();
      addHemiLight();
      addDirectionalLight();

      const tick = () => {
        controls.update();
        renderer.render(scene, camera);
        window.requestAnimationFrame(tick);
      };
      tick();

      /** Базовые обработчики событий длы поддержки ресайза */
      window.addEventListener('resize', () => {
        // Обновляем размеры
        sizes.width = window.innerWidth;
        sizes.height = window.innerHeight;

        // Обновляем соотношение сторон камеры
        camera.aspect = sizes.width / sizes.height;
        camera.updateProjectionMatrix();

        // Обновляем renderer
        renderer.setSize(sizes.width, sizes.height);
        renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
        renderer.render(scene, camera);
      });

      let model;
      let modelObjects = [];
      let wals = [];
      let windows = [];
      let windowsFrames = [];
      const logoAreas = ref([]);
      let human = [];
      let wning = [];
      let skeleton = [];
      let walsBack = [];

      const loadModel = () => {
        loader.load(
          `./img/models/${currentModel.value}.glb`,
          async (gltf) => {
            model = gltf.scene;
            model.scale.setScalar(1);
            scene.add(model);

            await model.traverse(function (object) {
              if (object.isMesh) {
                modelObjects.push(object);
                object.material.side = THREE.DoubleSide;
                object.material.metalness = 0.2;
                object.material.roughness = 0.4;
              }
            });

            wals = modelObjects.filter(
              (el) =>
                el.name.includes('sidewall-') && !el.name.includes('-back'),
            );
            walsBack = modelObjects.filter(
              (el) =>
                el.name.includes('sidewall-') && el.name.includes('-back'),
            );
            windows = modelObjects.filter((el) => el.name.includes('windows-'));
            windowsFrames = modelObjects.filter(
              (el) =>
                el.name.includes('frame-') || el.name.includes('ОСТЕКЛЕНИЕ'),
            );
            logoAreas.value = modelObjects.filter((el) =>
              el.name.includes('logo-area'),
            );
            human = modelObjects.filter((el) => el.name.includes('human'));
            wning = modelObjects.filter((el) =>
              el.material.name.includes('wning-material'),
            );
            skeleton = modelObjects.filter((el) =>
              el.material.name.includes('skeleton-material'),
            );

            setObjectsStatus(human, isHumanVisible.value);
            setObjectsStatus(wals, isSideWallsVisible.value);
            setObjectsStatus(walsBack, false);
            setObjectsStatus(windows, isWindowsVisible.value);
            setObjectsStatus(windowsFrames, isWindowsVisible.value);
            setObjectsStatus(logoAreas.value, false);
            setWhingColor(whingColor.value);
            setSkeletonColor(skeletonColor.value);

            currentLogoSides.value = logoAreas.value.length;

            scene.add(model);

            controls.maxDistance =
              modelsSettings[currentModel.value].cameraPosition.z;

            camera.position.set(
              modelsSettings[currentModel.value].cameraPosition.x,
              modelsSettings[currentModel.value].cameraPosition.y,
              modelsSettings[currentModel.value].cameraPosition.z,
            );

            setTimeout(() => {
              BgLoader.classList.add('is-hidden');
            }, 1000);
          },
          (progress) => {},
          (error) => {
            console.log('error');
            console.log(error);
          },
        );
      };

      const setObjectsStatus = (items, status) => {
        items.forEach((item) => {
          item.visible = status;
        });
      };

      const setObjectsColor = (items, color) => {
        const colorValue = colorsObj[color];

        items.forEach((item) => {
          item.material.color.set(new THREE.Color(colorValue));

          if (color === 'transparent') {
            item.material.opacity = 0.8;
            item.material.transparent = true;
          } else {
            item.material.opacity = 1;
            item.material.transparent = false;
          }
        });
      };

      const changeWallsStatus = (event) => {
        setObjectsStatus(wals, isSideWallsVisible.value);
        setObjectsStatus(walsBack, isSideWallsVisible.value);
      };

      const changeWindowsStatus = (event) => {
        setObjectsStatus(windows, isWindowsVisible.value);
        setObjectsStatus(windowsFrames, isWindowsVisible.value);
      };

      const changeHumanStatus = (event) => {
        setObjectsStatus(human, isHumanVisible.value);
      };

      const setWhingColor = (color) => {
        whingColor.value = color;

        setObjectsColor(wning, color);
        setObjectsColor(wals, color);
        setObjectsColor(walsBack, color);
      };

      const setSkeletonColor = (color) => {
        skeletonColor.value = color;
        setObjectsColor(skeleton, color);
      };

      const setDoorsColor = (color) => {
        doorsColor.value = color;
        setObjectsColor(windowsFrames, color);
      };

      const setGround = (color) => {
        skeletonColor.value = color;
        setObjectsColor(skeleton, color);
      };

      const changeBranding = (value) => {
        currentBranding.value = value;
      };

      const setFullWrappBranding = () => {
        const BannerLogoTexture = textureLoader.load(
          './img/full-wrap-brending.jpg',
        );
        BannerLogoTexture.colorSpace = THREE.SRGBColorSpace;
        BannerLogoTexture.flipY = false;
        BannerLogoTexture.transparent = true;
        BannerLogoTexture.offset.set(
          modelsSettings[currentModel.value].bannerLogoTextureOffset.x,
          modelsSettings[currentModel.value].bannerLogoTextureOffset.y,
        );
        logoAreas.value.forEach((area) => {
          area.visible = true;
          if (area.material.map) {
            area.material.map = BannerLogoTexture;
            area.needsUpdate = true;
          } else {
            area.material = new THREE.MeshStandardMaterial({
              map: BannerLogoTexture,
              side: THREE.frontSide,
            });
            area.material.needsUpdate = true;
          }
        });

        const BannerWaalTexture = textureLoader.load(
          './img/full-wrap-brending.jpg',
        );
        BannerWaalTexture.colorSpace = THREE.SRGBColorSpace;
        BannerWaalTexture.flipY = false;
        BannerWaalTexture.transparent = true;
        BannerWaalTexture.offset.set(0, 0);
        wals.forEach((area) => {
          area.visible = true;
          if (area.material.map) {
            area.material.map = BannerWaalTexture;
          } else {
            area.material = new THREE.MeshStandardMaterial({
              map: BannerWaalTexture,
              side: THREE.DoubleSide,
            });
          }
          area.material.needsUpdate = true;
        });
        isSideWallsVisible.value = true;

        walsBack.forEach((area) => {
          area.visible = true;
        });

        setWhingColor('white');
      };

      const clearAllBranding = () => {
        logoAreas.value.forEach((area) => {
          area.visible = false;
        });

        wals.forEach((area) => {
          if (area.material.map) {
            area.material.map = null;
          } else {
            area.material = new THREE.MeshStandardMaterial({
              map: null,
              side: THREE.DoubleSide,
            });
          }
          area.material.needsUpdate = true;
        });

        walsBack.forEach((area) => {
          area.visible = false;
        });
        setObjectsColor(wals, whingColor.value);
      };

      watch(currentBranding, (newValue) => {
        console.log(newValue);
        if (newValue === 'fullWrapp') {
          setFullWrappBranding();
        }

        if (newValue === 'noBranding') {
          clearAllBranding();
        }
      });

      const changeLogo = (event) => {
        function setImage(file) {
          const BannerLogoTexture = textureLoader.load(file);
          BannerLogoTexture.flipY = false;
          BannerLogoTexture.transparent = true;
          BannerLogoTexture.offset.set(1, 0);
          BannerLogoTexture.offset.set(
            modelsSettings[currentModel.value].bannerLogoTextureOffset.x,
            modelsSettings[currentModel.value].bannerLogoTextureOffset.y,
          );
          console.log(logoAreas);
          logoAreas.value.forEach((area) => {
            area.visible = true;
            if (area.material.map) {
              area.material.map = BannerLogoTexture;
              area.needsUpdate = true;
            } else {
              area.material = new THREE.MeshStandardMaterial({
                map: BannerLogoTexture,
                side: THREE.frontSide,
              });
              area.material.needsUpdate = true;
            }
          });
        }

        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            const dataURL = e.target.result;
            setImage(dataURL);
          };
          reader.readAsDataURL(file);
        }
      };

      const changeLogoSides = (value, event) => {
        currentLogoSides.value = value;
        let index = 0;

        logoAreas.value.forEach((area) => {
          index++;
          if (index > value) {
            area.visible = false;

            return;
          }

          area.visible = true;
        });

        event.target.closest('.custom-select').classList.remove('is-open');
      };

      const toogleMenu = () => {
        menuIsVisible.value = !menuIsVisible.value;
      };

      const tooglePreviewMenu = () => {
        previewMenuIsVisible.value = !previewMenuIsVisible.value;
      };

      const clearAllModelData = () => {
        modelObjects = [];
        wals = [];
        windows = [];
        windowsFrames = [];
        logoAreas.value = [];
        human = [];
        wning = [];
        skeleton = [];
        walsBack = [];

        currentBranding.value = 'noBranding';

        scene.remove(model);
        model = null;
      };

      const changeModel = async (value) => {
        if (currentModel.value === value) {
          return;
        }

        BgLoader.classList.remove('is-hidden');
        currentModel.value = value;
        await clearAllModelData();

        loadModel();
      };

      onMounted(() => {
        loadModel();

        const selects = document.querySelectorAll('.custom-select');
        selects.forEach((element) => {
          const dropdown = element.querySelector('.custom-select-dropdown');
          const opener = element.querySelector('.custom-select-opener');
          const options = element.querySelectorAll('.custom-select-option');

          opener.addEventListener('click', () => {
            if (element.classList.contains('is-open')) {
              element.classList.remove('is-open');
            } else {
              const openSelects = document.querySelectorAll(
                '.custom-select.is-open',
              );
              openSelects.forEach((select) => {
                select.classList.remove('is-open');
              });

              element.classList.add('is-open');
            }
          });

          options.forEach((el) => {
            el.addEventListener('click', () => {
              if (el.classList.contains('disabled')) {
                return;
              }

              element.classList.remove('is-open');
            });
          });
        });

        document.addEventListener('mouseup', (e) => {
          if (!e.target.closest('.custom-select')) {
            const openSelects = document.querySelectorAll(
              '.custom-select.is-open',
            );
            openSelects.forEach((select) => {
              select.classList.remove('is-open');
            });
          }
        });
      });

      return {
        menuIsVisible,
        previewMenuIsVisible,
        countries,
        formData,
        currentLogoSides,
        logoAreas,
        isCustomLogoBranding,
        brandingVariants,
        currentBranding,
        groundTextures,
        models,
        currentModel,
        whingColor,
        skeletonColor,
        doorsColor,
        colorsObj,
        wningColors,
        skeletonColors,
        currentGround,
        isSideWallsVisible,
        isWindowsVisible,
        isHumanVisible,
        changeWallsStatus,
        changeWindowsStatus,
        changeHumanStatus,
        setWhingColor,
        setSkeletonColor,
        setDoorsColor,
        changeFloor,
        changeBranding,
        changeLogo,
        changeLogoSides,
        toogleMenu,
        tooglePreviewMenu,
        changeModel,
      };
    },
  }).mount('#constructor');
</script>
