@import "../fonts/Lato/lato.css";
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

*{
    position: relative;
    outline: none;
}

body{
	margin: 0;
    overflow-x: hidden;
    background: #ffffff;
    box-sizing: border-box;
}

body.hidden {
	overflow: hidden;
}

div{
    box-sizing: border-box;
}

img{
	max-width: 100%;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}

section{
    width: 100%;
    padding: 80px 0 100px
}

section.gray{
    background: #F2F2F2;
}

p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

p.main_text {
    font-size: 15px;
}

p.secondary_text{
    font-size: 14px;
    letter-spacing: 0.01em;
}
.additional_text{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 25px;
}
.additional_text strong{
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-right: 15px;
}
.caption{
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 20px;
    display: inline-block;
}

.title{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.9);

}
.h1{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    display: inline-block;
    margin: 0px auto 30px
}
.h2{
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    display: inline-block;
    margin: 0px auto 30px
}
.h3{
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.01em; 
    color: #DEC377;
}
.h4{
    font-size: 26px;
    line-height: 45px;
}
.h5{
    font-size: 20px;
    line-height: 30px;
}

.subtitle{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
}

.additional_button{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}
footer .additional_button{
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin: 15px 0;
}
footer .additional_button:after{
    content: "";
    display: block;
    width: 60px;
    height: 12px;
    background: url(../img/svg/arrow.svg) center no-repeat;
    margin-left: 15px;
}
.btn{
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DEC377;
    border-radius: 2px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Commissioner', sans-serif;
    cursor: pointer;
}

.btn.skeleton{
    border: 2px solid #DEC377;
    background: initial;
    color: #DEC377;
}

.slick-slider .slick-track, .slick-slider .slick-list{
    height: 100%;
}

.content_box{
    margin-bottom: 100px;
}
.content_box.last{
    margin-bottom: 0;
}
.triangle:before{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient( 45deg, #ffffff 50%, #DEC377 50%);
    z-index: 2;
}
.line{
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 60px 0;
}
.mail{
    font-family: Commissioner;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: rgba(0, 0, 0, 0.8);
}

.modal_bg {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(250, 250, 250, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5000;
	display: none;
}

.open_arrow{
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 2px;
    transform: rotate(90deg);
}
.open_arrow.open{
    transform: rotate(270deg);
}
.open_arrow::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/svg/review-arrow.svg) center no-repeat;
    display: block;
}
/* HEADER */
header{
    padding: 15px 0;
}
.top_panel{
    display: flex;
    justify-content: space-between;
}
.lang{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.phones{
    display: flex;
    align-items: center; 
    flex-wrap: wrap;   
    justify-content: center;
}   
.phones a{
    font-family: 'Commissioner', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 15px;
}

.eye{
    position: absolute;
    left: calc(50% - 16px);
}
.menu_panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.menu_panel .main_menu{
    display: flex;
    align-items: center;
}
.menu_panel .main_menu a{
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    margin-right: 50px;
}
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
	display: none;
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #DEC377;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham1 .top {
	stroke-dasharray: 40 139;
}
.ham1 .bottom {
	stroke-dasharray: 40 180;
}
.ham1.active .top {
	stroke-dashoffset: -98px;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.ham1.active .bottom {
	stroke-dashoffset: -138px;
}
/* MAIN SLIDER */

.main_slider{
    height: 650px;
    padding: 0;
}
.slide_wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}
.slider_element{
    height: 100%;
    width: 100%;
}
.slider_element .container{
    display: flex;
    align-items: center;
}

.slide_content{
    width: 100%;
    max-width: 500px;
}
.slide_content .btn{
    margin-top: 50px;
}

.main_slider .slick-arrow{
    position: absolute;
    left: 20px;
    height: 18px;
    width: 11px;
    cursor: pointer;
}
.main_slider .arrow_place{
    height: 20px;
    bottom: 120px;
}
.main_slider .arrow_place .main_arrow_prev{
    transform: rotate(180deg);
}
.main_slider .arrow_place .main_arrow_next{
    left: 80px;
}

/* ADVANTAGES */

.advantages_wrapper{
    display: flex;
    justify-content: space-between;
}

.advantages_wrapper.top{
    top: -150px;
}

.advantages_element{
    width: calc(25% - 22.5px);
    padding: 50px 20px 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 285px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

}
.advantages_element .ico{
    width: 120px;
    height: 120px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.advantages_wrapper + .text{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    margin-top: 40px;
    background: #ffffff;
    padding: 30px 50px 35px;
}
.advantages_wrapper + .text p{
    width: 100%;
    max-width: 750px;
}
/* ABOUT */

.about_wrapper{
    display: flex;
    background: #ffffff;
}
.about_text{
    width: 60%;
    padding: 50px 70px 60px;
}
.stairs{
    width: 40%;
}
.stairs img{
    height: 100%; 
}
.about_text .main_text{
    max-width: 480px;
}

/* SERVICES */

.services_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services_element{
    width: calc(33% - 20px);
    background: #ffffff;
    padding: 25px 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
.services_element .title{
    min-height: 60px;
    width: 180px;
    margin-bottom: 10px;
}
.services_element .ico{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ACTIVITES */

.activities_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -200px;
}
.activities_wrapper .title{
    width: 100%;
    max-width: 370px;
}
.activities_wrapper .text{
    width: calc(100% - 370px);
}
.activities_slider{
    width: 100%;
    height: 560px;
}
.activities_slider .slick-arrow{
    position: absolute;
    left: -50px;
    height: 30px;
    width: 17px;
    cursor: pointer;
    top: calc(50% - 15px);
}
.activities_slider .main_arrow_prev{
    transform: rotate(180deg);
}
.activities_slider .main_arrow_next{
    left: auto;
    right: -50px;
}

/* REVIEWS */

.reviews_wrapper{
    margin-top: 100px;
}
.reviews_wrapper .btn{
    margin-top: 30px;
}
.reviews_slider_wrapper{
    margin: -25px -15px;
}
.reviews_element{
    width: calc(50% - 15px);
    margin: 25px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}
.reviews_element .top_img{
    width: 100%;
    height: 100px;
    background: url(../img/top.png) center no-repeat;
}

.reviews_element .content{
    padding: 40px 50px 65px;
}
.reviews_element .content .position {
    margin: 0;
}
.reviews_element .content p {
    margin: 20px 0;
}

.reviews_slider_wrapper .slick-arrow{
    position: absolute;
    right: 25px;
    height: 16px;
    width: 10px;
    cursor: pointer;
    bottom: -30px;
}
.reviews_slider_wrapper .main_arrow_prev{
    transform: rotate(180deg);
    right: 70px;
}
 .slick-dots {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    bottom: -50px;
    z-index: 10;
}
.slick-dots li {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}
.slick-dots li button{
    display: none;
}
.slick-dots li.slick-active {
    background: #DEC377;
}

/* PARTNERS */

.partners_wrapper{
    display: flex;
    flex-wrap: wrap;

}
.partners_wrapper .main_text{
    width: 100%;
    max-width: 670px;
    margin: 0 100px 40px 0;
}
.partenrs_logos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXT */

.text_sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text_box{
    width: calc(50% - 15px);
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding: 40px 50px;
}
.text_box.last{
    width:100%;
    display: flex;
}
.text_box.last .title{
    width: 100%;
    max-width: 320px;
    margin-right: 30px;
}

.banner{
    width: 100%;
    height: 180px;
    margin-bottom: 80px;
}

/* SERVICES LIST */
.services_list {
    margin-bottom: 50px;
}
.services_list .step{
    display: flex;
    margin: 0 -15px 30px -15px;
}
.services_list .step .box{
    height: 140px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin:0 15px;
    padding: 25px 0 0 30px;
}
.services_list .step .box .additional_button{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.services_list .first_step .box{
    border-left: 70px solid rgba(222, 195, 119, 0.4);
}
.services_list .first_step .box:first-child{
    width: 40%;
}
.services_list .first_step .box:last-child{
    width: 60%;
}
.services_list .second_step .box{
    border-left: 70px solid rgba(222, 195, 119, 0.75);
}
.services_list .second_step .box:first-child{
    width: 50%;
}
.services_list .second_step .box:last-child{
    width: 50%;
}
.services_list .third_step .box{
    border-left: 70px solid #DEC377;
}
.services_list .third_step .box:first-child{
    width: 60%;
}
.services_list .third_step .box:last-child{
    width: 40%;
}

.services_list + .text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services_list + .text p{
    width: 100%;
    max-width: 770px;
    margin: 0;
}
/* WHY */
.text_section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text_section .text{
    width: 100%;
    max-width: 470px;
}
.text_section .list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 440px;
}
.text_section .list .list_element{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.text_section .list .list_element:before{
    content: "•";
    border: 1px solid rgba(222, 195, 119, 0.4);
    border-radius: 300px;
    width: 40px;
    height: 40px;
    display: flex;
    color: #DEC377;
    line-height: 0;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 23px;
}   

/* ORGANIZATION */

.form_section{
    display: flex;
    justify-content: space-between;
}
.organization{
    width: 100%;
    max-width: 500px;
}

.step_list .list_element{
    display: flex;
}
.step_list .list_element{
    display: flex;
    align-items: center;
}
.step_list .list_element .number{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Commissioner;
    font-weight: 800;
    font-size: 22px;
    color: #DEC377;
    border:1px solid#DEC377;
    border-radius: 50%;
    margin-right: 30px;
}
.step_list .list_element .main_text{
    width: calc(100% - 100px);
    font-weight: 400;
}
.organization_form{
    width: 100%;
    max-width: 570px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 40px 50px 45px;
}

.organization_form form{
    display: flex;
    flex-direction: column;
}
.organization_form form input{
    width: 100%;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.organization_form form input::placeholder{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
    font-size: 15px;
}
.organization_form .input_title{
    font-family: Commissioner;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.01em;
    font-weight: 600;
}
.organization_form .politics a{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
}
.organization_form .politics a::after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.5);
    bottom: 5px;
    display: block;
    position: relative;
}
.organization_form .btn{
    max-width: 100%;
    border: none;
    background: #DEC377;
}
/* PRICE */

.price_box{
    width: 100%;
    max-width: 670px;
}
.price_box .btn{
    margin-top: 30px;
}

/* FOOTER */

footer{
    padding: 50px 0 0;
    background: #F2F2F2;
}
.dev_box{
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    background: #dadada;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content_box{
    display: flex;
}
.left_column{
    width: 25%;
}
.center_column{
    width: 60%;
    margin:0 30px;
}
.right_column{
    width: 15%;
}
.cocial_wrapper{
    display: flex;
    margin: 60px -9px 50px;
    flex-wrap: wrap;
}
.cocial_wrapper .social_element{
    margin: 9px;
    width: 30px;
    height: 30px;
    background: url(../img/social/social-sprite.svg) no-repeat;
}
.cocial_wrapper .social_element.vk{
    background-position: 0 0;
}
.cocial_wrapper .social_element.ok{
    background-position: -45px 0;
}
.cocial_wrapper .social_element.in{
    background-position: -90px 0;
}
.cocial_wrapper .social_element.inst{
    background-position: -135px 0;
}
.cocial_wrapper .social_element.you{
    background-position: -180px 0;
}
.cocial_wrapper .social_element.face{
    background-position: -225px 0;
}

.left_column .title{
    margin-bottom: 70px;
    display: inline-block;
}
.left_column .additional_text{
    display: inline-block;
    margin: 5px 0;
}
.column_title{
    font-family: Lato;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 30px;
    display: inline-block;
}
.column_title::after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    bottom: -10px;
    display: block;
    position: relative;
}
.office_content{
    display: flex;
    justify-content: space-between;
}
.office_content .oficce_column{
    flex-grow: 1;
    width: 33%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}
.oficce_title{
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    margin: 30px 0 20px;
    display: inline-block;
    width: 100%;
}
footer .additional_text{
    margin: 0;
}
.oficce_title + .caption{
    margin-top: -10px;
}



/* MEDIA */

@media screen and (max-width:1170px ){
    .ham{
        display: block;
    }
    .container{
        padding: 0 15px;
    }
    .menu_panel .main_menu {
		position: fixed;
		flex-direction: column;
		width: 50%;
		background: #fff;
		z-index: 5001;
		left: -100%;
		top: 0;
		height: 100vh;
		justify-content: flex-start;
		-webkit-transition: ease-out 0.3s;
		-moz-transition: ease-out 0.3s;
		-o-transition: ease-out 0.3s;
		transition: ease-out 0.3s;
		overflow: scroll;
	}
	.menu_panel .main_menu.open {
		left: 0;
    }
    .menu_panel .main_menu a{
        margin: 15px 0;
    }
}
@media screen and (max-width:980px ){
    .eye{
        position: relative;
        left: auto;
    }
    .about_text{
        width: 100%;
    }
    .about_text .main_text{
        max-width: 100%;
    }
    .stairs{
        display: none;
    }
    .services_element{
        width: calc(50% - 20px);

    }
    .activities_slider{
        height: auto;
    }
    .partners_wrapper .main_text{
        max-width: 100%;
        margin: 0 0 40px 0;
    }
    .partenrs_logos{
        margin-top: 40px;
    }
    .text_box.last{
        flex-wrap: wrap;
        
    }
    .banner{
        height: auto;
    }
    .text_section div{
        max-width: 100% !important;
    }
    footer .content_box{
        flex-wrap: wrap;
    }
    .left_column{
        width: 50%;
        order: 1;
        display: flex;
        flex-direction: column;
    }
    .center_column{
        width: 100%;
        margin: 30px 0;
        order: 3;
    }
    .right_column {
        width: 50%;
        order: 2;
    }
    .services_list + .text p{
        max-width: 100%;
    }
    .services_list + .text p + .btn{
        margin-top: 30px;
    }
}
@media screen and (max-width:700px ){
    .top_panel{
        flex-direction: column;
        align-items: center;
    }
    .top_panel div{
        margin: 5px 0;
    }
    .advantages_wrapper{
        flex-wrap: wrap;
    }
    .advantages_element{
        width: calc(50% - 22.5px);
        margin-bottom: 45px;
    }
    .activities_wrapper .title,.activities_wrapper .text{
        max-width: 100%;
        width: 100%;
    }
    .text_box{
        width: 100%;
    }
    .form_section{
        flex-direction: column;
        align-items: center;
    }
    .services_list .step{
        flex-wrap: wrap;
        margin: 0;
    }
    .services_list .step .box{
        width: 100% !important;
        margin: 10px 0;
    }
    .services_element{
        width: 100%;
    }
    .menu_panel .main_menu{
        width: 70%;
    }
    .reviews_wrapper .btn{
        margin: 30px auto;
        top: 70px;
    }
}
@media screen and (max-width:500px ){
    .services_element{
        width: 100%;

    }
    .advantages_element{
        width: 100%;
    }
    .left_column{
        width: 100%;

    }
    .center_column{
        width: 100%;
    }
    .right_column {
        width: 100%;
    }
    footer .content_box{
        margin-bottom: 0;
    }
    .office_content{
        flex-wrap: wrap;
        display: none;
    }
    .office_content .oficce_column{
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    .open_arrow{
        display: block;
    }
    .about_text{
        padding: 20px;
    }
    .menu_panel .main_menu{
        width: 100%;
    }
}