@import url(../fonts/stylesheet.css);

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default;
    overflow-x: hidden;
}

html.hidden {
    overflow: hidden;
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body.hidden {
    overflow: hidden;
}

a {
    background: transparent;
    text-decoration: none;
    color: initial;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

body {
    margin: 0;
    float: left;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Century Gothic';
    font-size: 18px;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    color: #333333;
}

@media screen and (max-width: 780px) {
    body {
        font-size: 16px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 5;
    padding: 0 20px;
    background: #fff;
}

img, video {
    max-width: 100%;
}

img.fit, video.fit {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.mobile_visible {
    display: none;
}

@media screen and (max-width: 780px) {
    .mobile_visible {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    .mobile_hidden {
        display: none !important;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.slick-dots {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-dots li {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #000;
}

.slick-dots button {
    display: none;
}

img[data-lazysrc] {
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

img[data-lazysrc].load {
    transition: 2s;
    opacity: 1;
    visibility: visible;
}

.red {
    color: red;
}

[data-popup] {
    cursor: pointer;
}

.btn {
    padding: 10px 30px;
    border: 1px solid #EF7F1A;
    font-size: 14px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background: rgba(239, 127, 26, 0.2);
}

.btn:active {
    background: #EF7F1A;
}

.btn--fill {
    background: #EF7F1A;
}

.btn--orange {
    border-color: #fff;
    color: #fff;
}

.btn--orange:active {
    background: #fff;
    color: #EF7F1A;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn--large {
    padding: 18px 41px;
    font-size: 16px;
}

.btn--medium {
    padding: 18px 32px;
    font-size: 22px;
}

@media screen and (max-width: 1024px) {
    .btn--medium {
        padding: 10px 30px;
        font-size: 18px;
    }
}

.title {
    display: block;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 34px;
        line-height: initial;
    }
}

.title--page {
    width: 100%;
    font-size: 45px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(104, 104, 104, 0.3);
    text-transform: uppercase;
}

.title--sub {
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
}

.title--section {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 40px;
    line-height: initial;
}

@media screen and (max-width: 780px) {
    .title--section {
        font-size: 34px;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 500px) {
    .title--section {
        font-size: 24px;
        margin: 0 auto 20px;
    }
}

.link {
    color: #EF7F1A;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    position: relative;
    transition: .3s;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.link::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #EF7F1A;
    position: absolute;
    bottom: -0.15em;
    transition: .3s;
}

.link:hover {
    color: rgba(239, 127, 26, 0.6);
}

.link:hover::before {
    background: rgba(239, 127, 26, 0.6);
    width: 0px;
}

.link:active::before {
    display: none;
}

.link--black {
    color: #333333;
}

.link--black::before {
    background: #333333;
}

.link--black:hover {
    color: rgba(51, 51, 51, 0.6);
}

.link--black:hover::before {
    background: rgba(51, 51, 51, 0.6);
}

.section {
    margin-bottom: 80px;
}

.section > .link {
    margin: 40px auto 0;
}

@media screen and (max-width: 1024px) {
    .section > .link {
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        margin-bottom: 40px;
    }
}

.breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.breadcrumbs__crumb {
    font-size: 14px;
    line-height: 17px;
    color: #686868;
}

.breadcrumbs__crumb::after {
    content: '/';
    margin: 0 5px;
}

.breadcrumbs__crumb:last-child::after {
    display: none;
}

.pagination {
    font-size: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 80px;
}

.pagination a {
    margin: 0 10px;
}

.pagination a.current {
    color: #EF7F1A;
    text-decoration: underline;
}

.header {
    margin-bottom: 80px;
}

.header__top_line {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 51;
}

.header__top_line-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
}

.header__top_line-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
}

.header__main {
    padding-top: 40px;
    z-index: 50;
    position: relative;
}

.header__main_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__main_wrapper .main_menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__main_wrapper .main_menu__link {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.8);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 10px;
}

.header__main_wrapper .main_menu__link.parrent {
    position: relative;
}

.header__main_wrapper .main_menu__link.parrent .main_link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__main_wrapper .main_menu__link.parrent .main_link::after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/icons/list-arrow.svg) center no-repeat;
    margin-left: 5px;
}

.header__main_wrapper .main_menu__link.parrent .sub_menu {
    position: absolute;
    top: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: none;
}

.header__main_wrapper .main_menu__link.parrent .sub_menu__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__main_wrapper .main_menu__link.parrent .sub_menu a {
    width: 100%;
    padding: 10px;
    transition: .3s;
}

.header__main_wrapper .main_menu__link.parrent .sub_menu a:hover {
    background: #EF7F1A;
}

@media screen and (min-width: 1200px) {
    .header__main_wrapper .main_menu__link.parrent:hover .sub_menu {
        display: block;
    }
}

.header__main_wrapper .main_menu > a {
    margin: 0 10px;
}

.header .location {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
}

.header .location img {
    margin-right: 10px;
}

.header .worktime {
    padding-right: 20px;
    border-right: 1px solid rgba(104, 104, 104, 0.15);
    margin-right: 10px;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header .social a {
    margin: 0 10px;
}

.header .burger_menu {
    display: none;
    width: 40px;
    cursor: pointer;
}

.header .burger_menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: #EF7F1A;
    margin: 5px 0;
}

@media screen and (max-width: 1200px) {
    .header__main {
        z-index: 552;
    }

    .header__main_wrapper .main_menu {
        background: #fff;
        position: fixed;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        width: 50%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        padding: 80px 20px 40px;
        transition: .5s;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .header__main_wrapper .main_menu__link {
        width: 100%;
    }

    .header__main_wrapper .main_menu__link.parrent {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .header__main_wrapper .main_menu__link.parrent .main_link::after {
        margin-left: 10px;
        transition: .5s;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .header__main_wrapper .main_menu__link.parrent .main_link.active::after {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .header__main_wrapper .main_menu__link.parrent .sub_menu {
        position: relative;
        padding: 0 20px 0 30px;
        border-left: 1px solid #EF7F1A;
        box-shadow: none;
        margin: 20px 0 0;
        transition: 0s;
    }

    .header__main_wrapper .main_menu .close_burger_menu {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .header__main_wrapper .main_menu .close_burger_menu span {
        position: absolute;
        top: calc(50% - 1.5px);
        display: block;
        width: 100%;
        height: 3px;
        background: #EF7F1A;
        margin: 5px 0;
    }

    .header__main_wrapper .main_menu .close_burger_menu span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .header__main_wrapper .main_menu .close_burger_menu span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header__main_wrapper .main_menu .btn {
        margin-top: 30px;
    }

    .header__main_wrapper::before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .header .burger_menu {
        display: block;
        transition: .5s;
    }

    .header.menu_open .main_menu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .header.menu_open .header__main_wrapper::before {
        opacity: .4;
        visibility: visible;
    }

    .header.menu_open .burger_menu {
        opacity: 0;
    }
}

@media screen and (max-width: 780px) {
    .header__main_wrapper .main_menu {
        width: 100%;
    }

    .header__top_line .worktime {
        display: none;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: #E5E5E5;
    padding: 80px 60px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #000 #eee;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.popup::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #eee;
}

.popup::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #000;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
}

.popup__close {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 50;
    border-radius: 50%;
    background: url(../img/icons/popup-cross.svg) center no-repeat, #fff;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup {
        padding: 80px 20px;
    }

    .popup__close {
        width: 46px;
        height: 46px;
        background-size: 12px 12px;
        top: 30px;
        right: 20px;
    }
}

.footer__wrapper {
    border-top: 1px solid rgba(104, 104, 104, 0.3);
    padding-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer__wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.footer__column {
    width: calc(100% / 4);
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 16px;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .footer__column {
        width: 100%;
        margin-bottom: 30px;
        -ms-flex-align: center;
        align-items: center;
    }
}

.footer__column .column_title {
    text-align: right;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .footer__column .column_title {
        text-align: center;
        margin-bottom: 10px;
    }
}

.footer__column .links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    .footer__column .links {
        -ms-flex-align: center;
        align-items: center;
    }
}

.footer__column .links a {
    color: rgba(51, 51, 51, 0.6);
    margin-bottom: 10px;
}

.footer__column .info {
    color: rgba(51, 51, 51, 0.6);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media screen and (max-width: 1024px) {
    .footer__column .info {
        -ms-flex-align: center;
        align-items: center;
        margin-top: 40px;
    }
}

.footer__column .info__box {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
}

.footer__column .info__box a {
    color: rgba(51, 51, 51, 0.6);
}

.footer__column .info__box .phone {
    margin: 5px 0;
}

.footer__column .copy {
    font-size: 12px;
    margin-top: 40px;
}

.footer a:hover {
    transition: .3s;
    color: #333333;
}

.footer__social_line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 20px 0 40px;
}

.footer__social_line a {
    margin: 0 10px;
}

.main_page_banner {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 90px;
    border-bottom: 1px solid rgba(104, 104, 104, 0.3);
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .main_page_banner {
        padding-bottom: 40px;
    }
}

.main_page_banner .text_box {
    padding-right: 90px;
}

@media screen and (max-width: 1024px) {
    .main_page_banner .text_box {
        width: 100%;
        padding: 0;
    }
}

.main_page_banner .text_box .title {
    margin-bottom: 20px;
}

.main_page_banner .text_box .description {
    margin: 10px 0 40px;
    line-height: 22px;
}

.main_page_banner .img_box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .main_page_banner .img_box {
        display: none;
    }
}

.texture_section__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: "area-1 area-1 area-2 area-3" "area-5 area-6 area-2 area-4" "area-5 area-7 area-8 area-8";
}

.texture_section__wrapper .area-1 {
    grid-area: area-1;
}

.texture_section__wrapper .area-2 {
    grid-area: area-2;
}

.texture_section__wrapper .area-3 {
    grid-area: area-3;
}

.texture_section__wrapper .area-4 {
    grid-area: area-4;
}

.texture_section__wrapper .area-5 {
    grid-area: area-5;
}

.texture_section__wrapper .area-6 {
    grid-area: area-6;
}

.texture_section__wrapper .area-7 {
    grid-area: area-7;
}

.texture_section__wrapper .area-8 {
    grid-area: area-8;
}

@media screen and (max-width: 1024px) {
    .texture_section__wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 0;
    }

    .texture_section__wrapper .area {
        width: 100%;
        margin-bottom: 10px;
        height: 250px;
    }

    .texture_section__wrapper .area .texture_section__link .hover_info {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.texture_section__link {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.texture_section__link .hover_info {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10px;
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: .3s;
}

.texture_section__link .hover_info .name {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 0 15px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.8);
    text-align: center;
}

.texture_section__link .hover_info .categories {
    display: -ms-flexbox;
    display: flex;
}

.texture_section__link .hover_info .categories span {
    margin: 0 5px;
    font-size: 14px;
}

.texture_section__link_label {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding: 8px 32px;
}

@media screen and (max-width: 1024px) {
    .texture_section__link_label {
        font-size: 18px;
    }
}

.texture_section__link:hover .hover_info {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.brands_section__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.brands_section__row {
    display: -ms-flexbox;
    display: flex;
}

.brands_section__row:nth-child(even) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
    .brands_section__row {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        margin-bottom: 20px;
    }

    .brands_section__row:last-child {
        margin-bottom: 0;
    }
}

.brands_section__row .img_box {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .brands_section__row .img_box {
        width: 100%;
        height: 250px;
    }
}

.brands_section__row .description_box {
    width: 55%;
    padding: 20px 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 23px;
}

@media screen and (max-width: 1200px) {
    .brands_section__row .description_box {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .brands_section__row .description_box {
        width: 100%;
    }
}

.brands_section__row .description_box .title {
    color: #686868;
    margin-bottom: 60px;
}

.brands_section__row .description_box .title::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: rgba(239, 127, 26, 0.3);
    position: absolute;
    bottom: -0.40em;
}

@media screen and (max-width: 1024px) {
    .brands_section__row .description_box .title {
        margin-bottom: 40px;
    }
}

.brands_section__row .description_box p {
    margin-bottom: 20px;
}

.brands_section__row .description_box .btn {
    margin-top: 20px;
}

.consultation {
    height: 200px;
    background: rgba(239, 127, 26, 0.9);
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .consultation {
        height: auto;
        padding: 20px 0;
    }
}

.consultation .container {
    background: initial;
}

.consultation__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.consultation__wrapper .btn_box {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .consultation__wrapper .btn_box {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .consultation__wrapper {
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.consultation .title {
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .consultation .title {
        font-size: 32px !important;
    }
}

.consultation .title::before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -0.10em;
}

@media screen and (max-width: 1024px) {
    .consultation .title::before {
        left: calc(50% - 50px);
    }
}

@media screen and (max-width: 1200px) {
    .consultation .title {
        font-size: 40px;
    }
}

.consultation p {
    line-height: 23px;
}

@media screen and (max-width: 500px) {
    .consultation p br {
        display: none;
    }
}

.instagram_section__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.instagram_section__wrapper .img_box {
    margin: 0 5px;
}

.catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.catalog__item {
    width: calc(100% / 3 - 20px);
    margin: 0 10px 40px 10px;
}

@media screen and (max-width: 500px) {
    .catalog__item {
        width: calc(100% / 2 - 20px);
        margin: 0 10px 20px 10px;
    }
}

.catalog__item_picture {
    width: 100%;
    margin-bottom: 20px;
    transition: .2s;
    position: relative;
}

.catalog__item_picture .img_box {
    padding-top: 90%;
}

.catalog__item_picture .img_box img {
    position: absolute;
    top: 0;
    left: 0;
}

.catalog__item_name {
    display: block;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.05em;
}

.catalog__item:hover .catalog__item_picture {
    box-shadow: 10px 10px 0px 0px rgba(239, 127, 26, 0.9);
}

.full_width_catalog__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.full_width_catalog__item {
    width: calc(100% / 3 - 10px);
    margin: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .full_width_catalog__item {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 500px) {
    .full_width_catalog__item {
        width: 100%;
        margin: 5px 0;
    }
}

.full_width_catalog__item_label {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding: 8px 32px;
    max-width: 70%;
}

@media screen and (max-width: 1024px) {
    .full_width_catalog__item_label {
        font-size: 18px;
        padding: 8px 22px;
    }
}

.use_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: "area-1 area-2 area-5" "area-3 area-4 area-5";
}

.use_section .area-1 {
    grid-area: area-1;
}

.use_section .area-2 {
    grid-area: area-2;
}

.use_section .area-3 {
    grid-area: area-3;
}

.use_section .area-4 {
    grid-area: area-4;
}

.use_section .area-5 {
    grid-area: area-5;
}

@media screen and (max-width: 780px) {
    .use_section {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 0;
    }

    .use_section .area {
        width: 100%;
        margin-bottom: 10px;
        height: 250px;
    }
}

.use_section__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.use_section__link_label {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    padding: 8px 32px;
    max-width: 70%;
}

@media screen and (max-width: 1024px) {
    .use_section__link_label {
        font-size: 18px;
        padding: 8px 22px;
    }
}

.news__item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
}

@media screen and (max-width: 500px) {
    .news__item {
        margin-bottom: 20px;
        border-bottom: 1px solid #333333;
        padding-bottom: 20px;
    }

    .news__item:last-child {
        border: none;
    }
}

.news__item .img_box {
    width: 300px;
    height: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 40px;
}

@media screen and (max-width: 780px) {
    .news__item .img_box {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .news__item .img_box {
        display: none;
    }
}

.news__item .content_box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.news__item .content_box .date {
    font-size: 12px;
    color: #686868;
    margin-bottom: 10px;
}

.news__item .content_box .name {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.news__item .content_box .description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.news__item .content_box .more {
    font-size: 16px;
    line-height: 20px;
    color: #EF7F1A;
}

.contacts {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .contacts {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.contacts__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
    margin-right: 40px;
}

@media screen and (max-width: 1024px) {
    .contacts__info {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.contacts__info_box {
    width: 50%;
    padding-right: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .contacts__info_box {
        width: 100%;
        padding-right: 0;
    }
}

.contacts__info_box_title {
    display: block;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.contacts__info_box .content {
    font-size: 16px;
    line-height: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contacts__info_box .content p {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.contacts__info_box .content svg {
    width: 15px;
    height: 15px;
    margin: 0 0 0 8px;
}

.contacts__info_box .content .underline {
    text-decoration: underline;
}

.contacts__slider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
    .contacts__slider {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .contacts__slider {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.contacts__slider .main_slider {
    width: 370px;
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    .contacts__slider .main_slider {
        width: 100%;
        margin-right: 0;
    }
}

.contacts__slider .main_slider .img_box {
    height: 240px;
}

.contacts__slider .additional_slider {
    width: 130px;
}

@media screen and (max-width: 500px) {
    .contacts__slider .additional_slider {
        width: 100%;
        margin-top: 20px;
    }
}

.contacts__slider .additional_slider .img_box {
    height: 75px;
    margin-bottom: 7px;
    border: none;
}

@media screen and (max-width: 500px) {
    .contacts__slider .additional_slider .img_box {
        margin: 0 5px;
    }
}

.scheme__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
}

.error_page {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.error_page__picture {
    margin-bottom: 40px;
}

.error_page__title {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .error_page__title {
        font-size: 25px;
        line-height: initial;
    }
}

.error_page__text {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .error_page__text {
        font-size: 16px;
        line-height: initial;
    }
}

.error_page__text a {
    color: #EF7F1A;
}

.card_info_section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card_info_section .description {
    width: calc(50% - 75px);
}

@media screen and (max-width: 1024px) {
    .card_info_section .description {
        width: 100%;
        margin-bottom: 40px;
    }
}

.card_info_section .description__content {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
}

.card_info_section .description__btn_container {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
}

@media screen and (max-width: 500px) {
    .card_info_section .description__btn_container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
    }
}

.card_info_section .description__btn_container .btn {
    margin: 10px;
    padding: 18px 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 500px) {
    .card_info_section .description__btn_container .btn {
        width: 100%;
    }
}

.card_info_section .detail {
    width: calc(50% - 75px);
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .card_info_section .detail {
        width: 100%;
        font-size: 18px;
    }
}

.card_info_section .detail__box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px;
}

.card_info_section .detail__box_title {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_info_section .detail__box_content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.card_info_section .detail__box_content.sizes {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.card_info_section .detail__box_content span {
    display: inline-block;
    margin: 0 10px 5px 0;
}

.card_info_section .detail__box_content span.main_width {
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.card_info_section .detail__box_content span.main_width::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #333333;
    position: absolute;
    top: 100%;
}

.card_slider_section .card_slider .slick-arrow {
    width: 70px;
    height: 70px;
    top: calc(50% - 35px);
    background: url(../img/icons/slider-right-arrow.svg) center no-repeat;
}

@media screen and (max-width: 1024px) {
    .card_slider_section .card_slider .slick-arrow {
        top: calc(50% - 20px);
        width: 40px;
        height: 40px;
        background-size: 40px;
    }
}

.card_slider_section .card_slider .slick-arrow.prev {
    left: 10px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.card_slider_section .card_slider .slick-arrow.next {
    right: 10px;
}

.card_slider_section .card_slider .slick-track {
    margin-left: -10px;
}

.card_slider_section .card_slider .slick-list {
    padding: 0 13% 0 0;
}

.card_slider_section .card_slider .img_box {
    margin: 0 10px;
}

.color_spectr__line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.color_spectr__item {
    width: 140px;
    margin: 0 10px 40px 10px;
}

@media screen and (max-width: 500px) {
    .color_spectr__item {
        width: 120px;
        margin: 0 5px 20px 5px;
    }
}

.color_spectr__item_name {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
}
