@import "../fonts/Proxima_Nova/stylesheet.css";
@import "header.css";
@import "activation_page.css";
@import "footer.css";

*{
    box-sizing: border-box;
    outline: none;

    position: relative;
}

/* common styles */
html{
    overflow-x: hidden;
}

body{
    width: 100%;
    max-width: 1980px;
    min-height: 100vh;
    font-family: "Proxima Nova", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

a{
    display: inline-block;
    color: #666666;
    text-decoration: none;
    font-size: 17px;
}
.underline::after{
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background: black;
    position: relative;
    bottom: 0;
}
.line{
    width: 100%;
    height: 1px;
    background:#e9ecf3;
}
strong{
    font-weight: 500;
}

.doted::after{
    content: ".................................................................................................................................................";
    display: inline-block;
    width: 100%;
    height: 4px;
    color: rgb( 154, 159, 169 );
    font-size: 14px;
    line-height: 0;
    position: absolute;
    left: 0;
    bottom: -3px;
    letter-spacing: 3px;
    overflow: hidden;
}
h1{
    width: 100%;
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    margin: 20px 0 40px;
}
/* end common styles */




/* breadcrumbs  */

.breadcrumbs_wrapper{
    display: flex;
    align-items: center;
}
.breadcrumb_item{
    display: flex;
    align-items: center;
}
.breadcrumb_item:after{
    content: "";
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bread_arrow.png) center no-repeat;
    margin: 0 15px;
}
.breadcrumb_item:last-child::after{
    display: none;
}
.breadcrumb_item span{ 
    color: rgb( 169, 171, 175 );
    font-size: 14px;
}
/* end breadcrumbs  */



.container{
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    height: 100%;
}
.category_slider_wrapper{
    display: flex !important;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid#ebebeb;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1980px;
    margin: 0 auto 20px;
}
.category_slider_wrapper .category_element{
    height: 200px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    border-right:1px solid#ebebeb;
    text-decoration: none;
    color: #000;
    display: flex;
    padding: 60px 40px 0;
}
.category_slider_wrapper .category_element p{
    text-align: center;
}
.category_slider_wrapper .slick-arrow{
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    background-image: url(https://surprise.by/bitrix/templates/surprize2020/right-arrow-black.svg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: 15px;
    background-color: #ffffff;
    right: -1px;
    z-index: 10;
}
.category_slider_wrapper .slick-arrow.prev{
    transform: rotate(180deg);
    right: auto;
    left: -1px;
}
.category_slider_wrapper .ico{
    width: 40px;
    height: 40px;
}
.category_slider_wrapper .ico.fly{
    background: url(../img/ico.png) center no-repeat;
}
.main_foto{
    width: 100%;
    max-width: 1860px;
    height: 380px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    padding: 0 145px;
    background:url(../img/main.png) center/cover no-repeat;
    border-radius: 20px;
}
.main_foto .content_box p{
font-weight: 500;
font-size: 22px;
margin-bottom: 20px;
}
.main_foto .content_box a{
width: 345px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid black;
border-radius: 50px;
text-decoration: none;
color: #000;

}
.catalog{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    padding-bottom: 150px;
    margin-top: -90px;
}

.catalog .catalog_element{
    width: calc(33.333% - 50px);
    margin: 90px 25px;
}
.catalog_element_tag{
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 0 0 15px 0;
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 16px;
}
.catalog_element_tag.new{
    font-weight: 500;
}
.catalog_element .img{
    min-height: 360px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.catalog_element .content_box{
    width: 100%;
    padding: 60px 40px 0;
}
.catalog_element_name{
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}
.catalog_element_text{
    display: inline-block;
    color: rgb( 122, 126, 134 );
    margin: 20px 0;
    line-height: 30px;
    font-size: 20px;
    min-height: 90px;
}
.catalog_element .bottom_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.rating_box{
    padding: 8px 15px;
    border-radius: 20px;
    background: #f5fafa;
    display: inline-flex;
    align-items: center;
}
.rating_box .fa-star{
    margin-right: 5px;
}
.rating_box .fa-star.empty{
    color: #ddebeb;
}
.rating_box .fa-star.full{
    color: #f9c802;
}
.review_text{
    padding-left: 10px;
    color: #7a7e86;
    line-height: 0.559;
    font-size: 14px;
}
.price_box{
    font-weight: normal;
    color: #7a7e86;
    font-size: 20px;

}
.price_box span{
    font-weight: bold;
    color: #000;
    font-size: 24px;
    padding: 0 5px;
}
.catalog_element .btn{
    width: 100%;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 90px;
    background: #e5ec50;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: .6px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 40px;
    text-decoration: none;
}

.catalog_element.double{
    width: calc(66.666% - 50px);
}
.catalog_element.double .bottom_bar{
    justify-content: flex-start;
}
.catalog_element.double .bottom_bar .rating_box{
    margin-right: 65px;
}
.catalog_element.post .post_element{
    width: 100%;
    height: calc(50% - 20px);
    border-radius: 10px;
    display: block;
    margin-bottom: 40px;
}
.catalog_element.post .post_element:last-child{
    margin-bottom: 0;
}

.catalog .see_more{
    width: 100%;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px -15px rgba( 50, 62, 66, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
}

.slider .slick-arrow{
    position: absolute;
    top: -90px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    background-image: url(https://surprise.by/bitrix/templates/surprize2020/right-arrow-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 25px;
    border-radius: 50%;
    right: 30px;
}

.slider .slick-arrow.prev{
    right: 200px;
    transform: rotate(180deg);
}
.slider .slick-arrow.active {
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.2);
}
.slider .slider_counter {
    position: absolute;
    top: -75px;
    font-weight: normal;
    right: 115px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #666666;
}
.slider .slider_counter span{
padding: 0 10px;
}
.slider .slider_counter .current_slide {
    font-weight: 500;
    font-size: 22px;
    color: #000;
}

.slider .slick-slide{
    display: flex !important;
    justify-content: center;
}
.section_title{
    font-weight: 500;
    font-size: 38px;
    padding: 3rem 0;
    display: block;
}
.catalog .section_title{
    width: calc(100% - 50px);
    margin:auto;
}
.main_section{
    margin-bottom: 150px;
}


.about_wrapper{
    display: flex;
}
.about_wrapper .left_column{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}
.about_wrapper .left_column .title{
    font-size: 34px;
    margin-bottom: 60px;
}
.about_wrapper .left_column .subtitle{
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: 500;
}
.about_wrapper .left_column .text{
    font-size: 20px;
    line-height: 35px;
    color: rgb( 122, 126, 134 );
}
.about_wrapper .right_column{
    width: 60%;
}
.dropp_list_wrapper{
    display: flex;
    flex-direction: column;
    
}
.dropp_list_wrapper .dropp_element{
    padding: 50px 30px 50px 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 50px -15px rgba( 50, 62, 66, .2);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
}
.dropp_list_wrapper .dropp_element .title{
    display: inline-block;
    width: fit-content;
    font-weight: 500;
}
.dropp_list_wrapper .dropp_element .title:before{
    content: "";
    display: block;
    width: 12px;
    height: 9px;
    background: url(https://surprise.by/bitrix/templates/surprize2020/list-arrow.png) center/contain no-repeat;
    position: absolute;
    left: -40px;
    top: calc(50% - 4.5px); 
}
.dropp_list_wrapper .dropp_element .title::after{
    content: ".................................................................................................................................................";
    display: inline-block;
    width: 100%;
    height: 4px;
    color: rgb( 154, 159, 169 );
    font-size: 14px;
    line-height: 0;
    position: absolute;
    left: 0;
    bottom: -3px;
    letter-spacing: 3px;
    overflow: hidden;
}
.dropp_list_wrapper .dropp_element .dropp{
    margin-top: 40px;
    font-size: 18px;
    color:rgb( 122, 126, 134 );
    display: none;
}

.partners_wrapper{
    padding: 50px 0 0;
}
.filtred_buttons_wrapper{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 50px 0;
}
.filtred_buttons_wrapper .section_title{
    margin-right: 120px;
    padding: 0;
    display: flex;
    align-items: center;
}
.filtred_buttons_wrapper .buttons{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.filtred_buttons_wrapper .buttons li{
    flex-grow: 1;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 50px;
    padding: 0 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.filtred_buttons_wrapper .buttons li span{
    width: fit-content;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}
.filtred_buttons_wrapper .buttons li.active{

    box-shadow: 0px 0px 50px -15px rgba( 50, 62, 66, .5);
}
.offer_wrapper{
    margin: 0 -100px;
}
.offer_wrapper img{
    margin: 20px;
}
.mobile_search{
    display: none;
}
/* MEDIA */

@media screen and (max-width:1680px){
    .container{
        padding: 0 20px; 
    }
    .offer_wrapper{
        margin: 0;
    }
    .main_foto{
        width: 98%;
    }
}
@media screen and (max-width:1500px){
    .filtred_buttons_wrapper .buttons li{
        height: 50px;
    }
    .catalog_element .bottom_bar{
        height: 80px;
    }
    .catalog_element:not(.double) .bottom_bar{
        flex-direction: column;
    }
    .catalog_element:not(.double) .rating_box{
        margin-bottom: 20px;
    }
    .catalog_element.double .bottom_bar{
        align-items: flex-start;
    }
    .catalog_element_text{
        min-height: 120px;
    }
}
@media screen and (max-width:1400px){
    .catalog_element .bottom_bar{
        justify-content: center;
    }
    .rating_box{
        margin: 0 0 20px 0;
    }
    .filtred_buttons_wrapper .buttons{
        width: 100%;
        justify-content: center;
        margin: 20px 0 0;
        flex-wrap: wrap;
    }
    .filtred_buttons_wrapper .buttons li{
        flex-grow: 0;
    }
}
@media screen and (max-width:1200px){
    .catalog_element_name{
        min-height: 65px;
        display: inline-block;
    }
    .catalog_element_text{
        min-height: 120px;
    }
    .catalog .catalog_element{
        width: calc(50% - 50px);
    }
    .catalog_element .bottom_bar{
        justify-content: space-between;
        align-items: center;
    }
    .rating_box{
        margin: 0 20px 0 0;
    }
    .about_wrapper{
        flex-wrap: wrap;
    }
    .about_wrapper .left_column{
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .about_wrapper .right_column{
        width: 100%;
    }
    .catalog .see_more{
        width: calc(100% - 50px);
        margin: auto;
    }
    .catalog_element .bottom_bar{
        justify-content: space-between !important;
        flex-direction: row !important;
        height: auto;
    }
    .catalog_element .bottom_bar .rating_box{
        margin: 0 !important;
    }
    .review_text .review_message{
        display: none;
    }
    .catalog_element.post .post_element{
        height: auto;
    }
}
@media screen and (max-width:720px){
    .container{
        padding: 0 30px;
        
    }
    .main_foto{
        background: url(../img/mobile-main.png) center/cover no-repeat;
        height: 600px;
        border-radius: 20px;
        width: calc(100% - 60px);
        padding: 80px 0 0;
        justify-content: center;
        align-items: flex-start;
    }
    .main_foto .content_box p{
        font-size: 24px;
    }
    .main_foto .content_box a{
        display: none;
    }
    .log img{
        display: block;
        margin: 0 auto;
    }
    .mobile_search{
        display: block;
        width:calc(100% - 100px);
        position: absolute;
        bottom: 50px;
    }
    .mobile_search input{
        width:100%;
        height: 90px;
        background: #ffffff;
        border-radius: 20px;
        border: none;
        padding-left: 80px;
        font-size: 22px;
    }
    .mobile_search button{
        background:none;
        border: none;
        position: absolute;
        left: 20px;
        top: calc(50% - 15.5px);
    }
    .catalog .catalog_element{
        width: 100%;
        margin: 40px 0;
    }
    .catalog {
        margin: 0;
    }
    .catalog_element .btn{
        margin: 40px auto 0;
    }
    .catalog_element.post .post_element{
        display: flex;
        justify-content: center;
    }
    .slider .slider_counter{
        display: none;
    }
    .slider .slick-arrow{
        box-shadow:none !important;
    }
    .slider .slick-arrow.prev{
        right: 100px;
    }
    .scrolled{
        width: 100%;
        overflow: overlay;
        padding: 0;
        padding: 40px 0;
        margin: -20px 0 -80px;
        z-index: 10;
    }
    .scrolled .buttons{
        width: max-content;
    }
    .filtred_buttons_wrapper .buttons li{
        margin: 0 10px;
        padding: 0 20px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .main_section{
        margin-bottom: 60px;
    }
}
@media screen and (max-width:500px){
    .offer_wrapper .slick-arrow,.partners_wrapper .slick-arrow {
        display: none !important;
    }
    .catalog_element .bottom_bar{
        flex-direction: column !important;
        align-items: center !important;
    }
    .catalog_element .bottom_bar .rating_box{
        margin-bottom: 20px !important;
    }
    .catalog_element .content_box{
        padding: 40px 20px;
    }
    .catalog_element_name{
        text-align: center;
    }
    .dropp_list_wrapper .dropp_element{
        padding: 50px 30px 50px 60px;
        font-size: 18px;
    }
}