@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    cursor: default;
    overflow-x: hidden;
}

html.hidden {
    overflow: hidden;
}

body {
    font-size: 100%;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    background: transparent;
    text-decoration: none;
    color: initial;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
select,
textarea {
    border-radius: 0;
    box-shadow: none;
}

input,
textarea {
    resize: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-ms-input-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: 600;
}

html {
    width: 100%;
    margin: 0 auto;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}

html.no-scroll {
    overflow: hidden;
}

body {
    margin: 0;
    float: left;
    width: 100%;
    position: relative;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #3A3A3A;
}

body.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    z-index: 5;
    padding: 0 20px;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 10px;
    }
}

p {
    margin: 0;
}

a {
    transition: .3s;
}

a:not(.no-hover):hover {
    color: #FFED00 !important;
}

.h1 {
    font-size: 50px;
    line-height: 60px;
}

@media screen and (max-width: 780px) {
    .h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

.h2 {
    font-size: 28px;
    line-height: 41px;
}

.h3 {
    font-size: 22px;
    line-height: 33px;
}

.h4 {
    font-size: 18px;
    line-height: 22px;
}

img, video {
    max-width: 100%;
    display: block;
}

img.fit, video.fit {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.mobile_visible {
    display: none;
}

@media screen and (max-width: 780px) {
    .mobile_hidden {
        display: none !important;
    }

    .mobile_visible {
        display: block;
    }
}

.tab_section__tab_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 30px;
    min-width: 100%;
    border-bottom: 1px solid #EDEDED;
}

.tab_section__tab {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.tab_section__tab.active {
    color: #FFED00;
}

.tab_section__tab.active:before {
    content: "";
    width: 100%;
    height: 4px;
    background: #FFED00;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

.tab_section__content_tab {
    padding: 30px;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

.tab_section__content_tab.active {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.tab_section__content {
    position: relative;
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 16.5px);
    z-index: 5;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-arrow path {
    transition: .3s;
}

.slick-arrow.prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: -25px;
}

.slick-arrow.next {
    right: -25px;
}

.slick-arrow:hover path {
    fill: #3A3A3A;
}

.slick-dots {
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.slick-dots li {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.slick-dots li.slick-active {
    background: #000;
}

.slick-dots button {
    display: none;
}

img[data-lazysrc] {
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}

img[data-lazysrc].load {
    transition: 2s;
    opacity: 1;
    visibility: visible;
}

.red {
    color: red;
}

[data-popup] {
    cursor: pointer;
}

.drop-box {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.drop-box .name {
    font-size: 14px;
    border-bottom: 2px dashed #FFED00;
    font-weight: 600;
}

.drop-box.active .arrow {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.drop-box__drop {
    position: absolute;
    width: 100%;
    top: 100%;
    left: -10px;
    padding: 5px 10px;
    display: none;
    background: #3A3A3A;
    z-index: 5;
}

.drop-box__drop-item {
    display: block;
    font-size: 14px;
    margin: 3px 0;
    color: #fff;
}

.arrow {
    width: 15px;
    height: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s;
    margin-left: 6px;
}

.arrow path {
    fill: #FFED00;
}

.btn {
    height: 43px;
    padding: 0 32px;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #0B6F39 100%);
    transition: .3s;
    color: #fff;
    cursor: pointer;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.btn:hover {
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #009846 100%);
}

input::-webkit-input-placeholder {
    color: #EDEDED;
}

input::-moz-placeholder {
    color: #EDEDED;
}

input:-ms-input-placeholder {
    color: #EDEDED;
}

input::-ms-input-placeholder {
    color: #EDEDED;
}

input::placeholder {
    color: #EDEDED;
}

form .input-box {
    position: relative;
    margin: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

form .input-box:last-of-type {
    margin-bottom: 0;
}

form .input-box .forgot-pass {
    position: absolute;
    color: #09773B;
    right: 20px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}

form button {
    width: 100%;
    border: none;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}

.input {
    background: #F9F9F9;
    border: none;
    border-radius: 3px;
    color: #3A3A3A;
    padding: 0 20px;
    font-weight: 300;
    height: 41px;
    width: 100%;
}

.input::-webkit-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.input::-moz-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.input:-ms-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.input::-ms-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.input::placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.text-area {
    background: #F9F9F9;
    border: none;
    border-radius: 3px;
    color: #3A3A3A;
    padding: 20px;
    font-weight: 300;
    width: 100%;
    resize: none;
    height: 140px;
}

.text-area::-webkit-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.text-area::-moz-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.text-area:-ms-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.text-area::-ms-input-placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.text-area::placeholder {
    color: rgba(58, 58, 58, 0.6);
}

.file-box {
    border-radius: 3px;
    background: #F9F9F9;
    width: 100%;
    padding: 13px 16px;
    border: 1px dashed #EDEDED;
}

.file-box .file-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.file-box .file-label .file-name {
    font-weight: 300;
    opacity: 0.5;
    margin-top: 5px;
    text-align: center;
}

.file-box .file-label input {
    display: none;
}

.file-box .dell-file {
    font-size: 12px;
    text-decoration: underline;
    margin-top: 10px;
    z-index: 20;
    display: none;
    text-align: center;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/icons/icon-select-arrow.svg) no-repeat 95% 50% #F9F9F9 !important;
    outline: 0;
    background: #F9F9F9;
}

option {
    font-size: 16px;
    line-height: 26px;
  /* color: #B4B4B4; */
}

@media all and (max-width: 500px) {
    option {
        font-size: 14px;
    }
}

.section {
    width: 100%;
    margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
    .section {
        margin-bottom: 30px;
    }
}

.section__title {
    color: #09773B;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 50px;
}

@media screen and (max-width: 780px) {
    .section__title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .section__title {
        font-size: 22px;
    }
}

.section__title::after {
    content: "";
    display: block;
    height: 4px;
    background: #FFED00;
    width: 50px;
    margin-top: 5px;
}

@media screen and (max-width: 780px) {
    .section__title::after {
        height: 2px;
        margin-top: 20px;
    }
}

.counter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.counter__button {
    background: #F9F9F9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    color: #09773B;
    height: 43px;
    width: 43px;
    border-radius: 3px;
    cursor: pointer;
}

.counter__count {
    color: #09773B;
    height: 43px;
    width: 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.counter__count input {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #09773B;
}

.breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px 0;
    margin-bottom: 5px;
}

.breadcrumbs__crumb {
    color: #009846;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    transition: .3s;
    font-weight: 300;
}

@media screen and (max-width: 500px) {
    .breadcrumbs__crumb {
        font-size: 14px;
        margin-right: 5px;
    }
}

.breadcrumbs__crumb::after {
    content: "";
    display: block;
    margin-left: 10px;
    width: 6px;
    height: 9px;
    background: url(../img/icons/icon-bredcrumb-arrow.svg) center no-repeat;
}

@media screen and (max-width: 500px) {
    .breadcrumbs__crumb::after {
        margin-left: 5px;
    }
}

.breadcrumbs__crumb:hover {
    color: #09773B;
    text-decoration: underline;
}

.breadcrumbs__crumb.last {
    color: #3A3A3A;
}

.breadcrumbs__crumb.last::after {
    display: none;
}

.page {
    padding-top: 26px;
}

.page__title {
    color: #09773B;
    margin-bottom: 30px;
}

.page__title::after {
    content: "";
    display: block;
    height: 4px;
    background: #FFED00;
    width: 50px;
    margin-top: 10px;
}

@media screen and (max-width: 780px) {
    .page__title::after {
        height: 2px;
        margin-top: 20px;
    }
}

.fancybox__thumbs, .fancybox__button--thumbs, .fancybox__button--fullscreen, .fancybox__button--slideshow, .fancybox__toolbar__items--left {
    display: none;
}

/* END common styles */
.header {
    background: #3A3A3A;
    position: relative;
    z-index: 20;
}

.header__top {
    padding: 8px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header__top {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.header__top .region, .header__top .phones {
    color: #fff;
    letter-spacing: 0.02em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__top .region-icon, .header__top .phones-icon {
    margin-right: 5px;
}

@media screen and (max-width: 1024px) {
    .header__top .region {
        display: none;
    }
}

.header__top .region__drop {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.header__top .region__drop .drop-box__drop-item {
    margin-bottom: 5px;
}

.header__top .additional-menu {
    display: -ms-flexbox;
    display: flex;
    gap: 0 38px;
}

@media screen and (max-width: 1024px) {
    .header__top .additional-menu {
        display: none;
    }
}

.header__top .additional-menu a {
    color: #fff;
}

.header__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header__main {
        padding: 5px 0;
    }
}

.header__main .logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .header__main .logo {
        width: 60px;
    }
}

.header__main .burger {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .header__main .burger {
        display: none;
    }
}

.header__main .burger__btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #0B6F39 100%);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.header__main .center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 720px;
}

@media screen and (max-width: 1024px) {
    .header__main .center {
        display: none;
    }
}

.header__main .search {
    height: 43px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}

.header__main .search input {
    height: 100%;
    border-radius: 3px;
    border: none;
    padding-left: 50px;
    width: 100%;
}

.header__main .search button {
    background: none;
    border: none;
    position: absolute;
    left: 10px;
    height: 24px;
    margin: 0;
    width: 30px;
}

.header__main .uth-bar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 25px;
}

@media screen and (max-width: 500px) {
    .header__main .uth-bar {
        gap: 0 15px;
    }
}

.header__main .uth-bar__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__main .uth-bar__item .label {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -5px;
    background: #FFED00;
    color: #09773B;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
}

.header .catalog-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #FFED00;
}

@media screen and (max-width: 1024px) {
    .header .catalog-btn {
        display: none;
    }
}

.header .catalog-btn img {
    margin-right: 10px;
}

.header .catalog-btn.active .arrow {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.header__main-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    height: 510px;
    padding: 0 20px;
    display: none;
}

.header__main-menu-wrapper {
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #0B6F39 100%);
    border-radius: 3px;
    height: 100%;
}

.header__main-menu .menu-sidebar {
    width: 245px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__main-menu .menu-sidebar__item {
    margin: 3px 0;
}

.header__main-menu .menu-sidebar__item a {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.header__main-menu .menu-sidebar__item svg {
    margin-left: 10px;
}

.header__main-menu .menu-sidebar__item svg path {
    transition: .3s;
}

.header__main-menu .menu-sidebar__item .sub-menu {
    position: absolute;
    top: 30px;
    right: 0;
    width: calc(100% - 245px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}

.header__main-menu .menu-sidebar__item .sub-menu a {
    width: calc(100% / 3);
    padding: 0 10px;
    margin: 4px 0;
    font-weight: 300;
    line-height: 22px;
}

.header__main-menu .menu-sidebar__item:hover path {
    fill: #FFED00;
}

.header__main-menu .menu-sidebar__item:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.header__mobile-main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #0B6F39 100%);
    height: 100vh;
    z-index: 110;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: .5s;
    padding: 40px 20px 40px;
    overflow: auto;
}

@media screen and (max-width: 650px) {
    .header__mobile-main-menu {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .header__mobile-main-menu {
        width: 100%;
    }
}

.header__mobile-main-menu.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.header__mobile-main-menu .mobile-menu-item {
    color: #fff;
    font-size: 18px;
    padding: 8px 0;
}

.header__mobile-main-menu .mobile-menu-item.parrent .main-item::after {
    content: "";
    display: block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background: url(../img/icons/icon-list-arrow.svg) center no-repeat;
    transition: .3s;
}

.header__mobile-main-menu .mobile-menu-item .main-item {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.header__mobile-main-menu .mobile-menu-item .main-item.active::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header__mobile-main-menu .sub-menu {
    padding: 10px 0 0 20px;
    display: none;
}

.header__mobile-main-menu .sub-menu__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header__mobile-main-menu .phones {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0 20px;
    margin-top: 30px;
}

.header__mobile-main-menu .phones a {
    color: #fff;
    margin: 5px 0;
    border-bottom: 1px dashed #FFED00;
}

.header__mobile-main-menu .contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-align: center;
    gap: 10px 0;
    margin-top: 10px;
}

.header__mobile-main-menu .contacts a {
    color: #fff;
}

.header__mobile-main-menu .menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.header__mobile-main-menu .menu-close path {
    fill: #FFED00;
}

.mobile-menu-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.mobile-menu-bg.visible {
    opacity: 1;
    visibility: visible;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    padding: 80px 60px 20px;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
}

.popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
    border-radius: 50%;
    background: url(../img/icons/icon-popup-cross.svg) center no-repeat;
    cursor: pointer;
    transition: .2s;
}

.popup__close:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: url(../img/icons/icon-popup-cross-hover.svg) center no-repeat;
}

.popup__content {
    background: #fff;
    padding: 30px 50px;
    width: 100%;
    position: relative;
}

.popup__content.hidden {
    display: none;
}

.popup__content.login-content {
    max-width: 390px;
}

.popup__content.registration-content {
    max-width: 600px;
}

.popup__content.registration-content .registration-form .columns-wrapper {
    display: -ms-flexbox;
    display: flex;
    gap: 0 10px;
}

@media screen and (max-width: 600px) {
    .popup__content.registration-content .registration-form .columns-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.popup__content.registration-content .registration-form .columns-wrapper .inputs-column {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .popup__content.registration-content .registration-form .columns-wrapper .inputs-column {
        width: 100%;
    }
}

.popup__content.registration-content .tab_section__content_tab {
    padding: 20px 0 0 0;
}

.popup__content.registration-content .tab_section__tab_container {
    padding: 10px 0;
}

.popup__content.registration-content .tab_section__tab {
    color: #EDEDED;
    font-weight: normal;
    width: 50%;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup__content.registration-content .tab_section__tab.active {
    color: #09773B;
}

.popup__content.registration-content .tab_section__tab.active:before {
    background: #09773B;
}

.popup .section__title {
    margin-bottom: 20px;
}

.form-switch {
    text-align: center;
    font-weight: 300;
    color: #09773B;
    cursor: pointer;
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .popup {
        padding: 60px 20px 10px;
    }

    .popup__content {
        padding: 20px 20px;
    }

    .popup__content .tab_section__tab {
        font-size: 14px;
    }
}

.footer__main {
    background: radial-gradient(50% 50% at 50% 50%, #009846 0%, #0B6F39 100%);
    padding: 30px 0;
}

@media screen and (max-width: 500px) {
    .footer__main {
        padding: 30px 0 0;
    }
}

.footer__main-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: #3A3A3A;
    color: #fff;
    height: 38px;
}

.footer__bottom a {
    color: #FFED00;
}

.footer__column {
    color: #fff;
    padding-right: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    .footer__column {
        width: 100%;
    }
}

.footer__column-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 12px;
}

@media screen and (max-width: 500px) {
    .footer__column-title {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        left: 15px;
    }

    .footer__column-title::after {
        content: "";
        display: block;
        width: 20px;
        height: 10px;
        background: url(../img/icons/icon-list-arrow.svg) center no-repeat;
        z-index: 5;
        top: 3px;
        position: relative;
        transition: .3s;
    }

    .footer__column-title.active::after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.footer__column-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .footer__column-list {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: none;
    }
}

.footer__column-list a {
    color: #fff;
    font-size: 15px;
    line-height: 32px;
}

@media screen and (max-width: 500px) {
    .footer__column-list a {
        display: block;
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .footer__column.info-column {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__column.info-column .footer__column-box {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

@media screen and (max-width: 780px) {
    .footer__column.info-column .footer__column-box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .footer__column.info-column .footer__column-box {
        width: 100%;
    }
}

.footer__info-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 15px;
    position: relative;
    line-height: 24px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.footer__info-box.adress::before {
    background: url(../img/icons/icon-map-marker-small.svg) center no-repeat;
}

.footer__info-box.work-time::before {
    background: url(../img/icons/icon-clock.svg) center no-repeat;
}

.footer__info-box.phones::before {
    background: url(../img/icons/icon-phone.svg) center no-repeat;
}

.footer__info-box.mail::before {
    background: url(../img/icons/icon-mail.svg) center no-repeat;
}

.footer__info-box a {
    color: #fff;
}

.footer__info-box::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -3px;
    left: 0;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 780px) {
    .footer__logo {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.main-banner {
    width: 100%;
    height: 410px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 70px;
}

@media screen and (max-width: 780px) {
    .main-banner {
        height: 250px;
    }
}

.main-banner__picture {
    height: 100%;
    width: 100%;
}

.main-banner__content {
    position: absolute;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
}

@media screen and (max-width: 780px) {
    .main-banner__content {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        text-align: center;
    }
}

.main-banner__content-text {
    font-size: 60px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 35px;
}

@media screen and (max-width: 780px) {
    .main-banner__content-text {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .main-banner__content-text {
        font-size: 35px;
        margin-bottom: 25px;
    }
}

.main-banner__content-button {
    background: #FFED00;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 43px;
    transition: .5s;
}

@media screen and (max-width: 780px) {
    .main-banner__content-button {
        margin: 0 auto;
    }
}

.main-banner__content-button:hover {
    background: #fff;
}

.main-page-map {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .main-page-map {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.main-page-map__sidebar {
    width: 100%;
    max-width: 285px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 50px 20px;
    background: #F9F9F9;
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .main-page-map__sidebar {
        max-width: 100%;
        margin: 0 0 10px 0;
    }
}

.main-page-map__sidebar-box {
    margin-bottom: 45px;
}

.main-page-map__sidebar-box:last-child {
    margin-bottom: 0;
}

.main-page-map__sidebar-box .title {
    font-size: 18px;
    color: #09773B;
    line-height: 22px;
    margin-bottom: 5px;
}

.main-page-map__sidebar-box .adress, .main-page-map__sidebar-box .phone {
    opacity: 0.6;
    margin-bottom: 15px;
}

.main-page-map__sidebar-box.active {
    background: #FFED00;
}

.main-page-map__sidebar-box.active .adress, .main-page-map__sidebar-box.active .phone {
    opacity: 1;
}

.main-page-map__map {
    height: 605px;
    width: calc(100% - 295px);
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .main-page-map__map {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .main-page-map__map {
        height: 250px;
    }
}

.main-page-map__map-adress {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.main-page-map__map-adress.active {
    opacity: 1;
    position: relative;
    visibility: visible;
}

.main-page-map.with-map .main-page-map__sidebar {
    padding: 50px 0;
}

.main-page-map.with-map .main-page-map__sidebar .section__title {
    padding: 0 20px;
    margin-bottom: 20px;
}

.main-page-map.with-map .main-page-map__sidebar-box {
    padding: 20px 20px;
    margin: 0;
    cursor: pointer;
}

.news-slider {
    margin: 0 -10px;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1280px) {
    .news-slider {
        padding: 0 30px;
    }

    .news-slider .slick-arrow.prev {
        left: 0;
    }

    .news-slider .slick-arrow.next {
        right: 0;
    }
}

@media screen and (max-width: 680px) {
    .news-slider {
        margin: 0;
    }
}

.news-slider__item {
    display: block;
    width: calc(100% / 3);
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: .3s;
}

@media screen and (max-width: 680px) {
    .news-slider__item {
        margin: 0;
    }
}

.news-slider__item:hover {
    border-color: #09773B;
}

.news-slider__item-image {
    width: 100%;
    height: 185px;
}

.news-slider__item-content {
    padding: 17px 15px 20px;
    background: #F9F9F9;
}

.news-slider__item-content .name {
    color: #09773B;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.news-slider__item-content .intro-text {
    opacity: 0.6;
}

.page-description {
    color: #757472;
}

@media screen and (max-width: 680px) {
    .page-description {
        font-size: 14px;
    }
}

.page-description p {
    margin-bottom: 10px;
}

.shops-map {
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 1024px) {
    .shops-map {
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .shops-map {
        height: 250px;
    }
}

.shops-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.shops-wrapper .main-page-map__sidebar-box {
    max-width: 245px;
    margin-right: 50px;
}

.shops-wrapper .main-page-map__sidebar-box .phone {
    opacity: 0.6;
}

.shops-wrapper .main-page-map__sidebar-box:last-child {
    margin-right: 0;
}

.vacancy__item {
    background: #F9F9F9;
    padding: 20px 30px;
    border-radius: 3px;
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    .vacancy__item {
        padding: 15px;
    }
}

.vacancy__item-header {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer;
    padding-right: 20px;
}

.vacancy__item-header::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../img/icons/icon-select-arrow.svg) center no-repeat;
    transition: .3s;
}

.vacancy__item-header.active::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.vacancy__item-header-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 980px) {
    .vacancy__item-header-box {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

@media screen and (max-width: 980px) {
    .vacancy__item-header-box {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.vacancy__item-header-box img {
    margin-right: 10px;
}

.vacancy__item-header-box.name {
    color: #009846;
    width: 30%;
}

@media screen and (max-width: 980px) {
    .vacancy__item-header-box.name {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.vacancy__item-header-box.work-time {
    width: 20%;
}

.vacancy__item-header-box.experience {
    width: 20%;
}

.vacancy__item-header-box.adress {
    width: 30%;
}

.vacancy__item-body {
    padding: 25px 0 0;
    display: none;
}

.vacancy__item-body-box {
    margin-bottom: 12px;
}

.vacancy__item-body-box .box-title {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.vacancy__item-body-box ul {
    list-style: disc;
    opacity: 0.6;
    padding-left: 20px;
}

.vacancy__item-body-box ul li::marker {
    font-size: 12px;
}

.resume-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -5px;
}

.resume-form .input-box {
    margin: 5px;
}

.resume-form .input-box.w-4 {
    width: calc(100% / 4 - 10px);
    font-size: 16px;
}

@media screen and (max-width: 980px) {
    .resume-form .input-box.w-4 {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 500px) {
    .resume-form .input-box.w-4 {
        width: 100%;
    }
}

.resume-form .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 5px;
}

.question-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 875px;
}

.question-form .input-box {
    margin: 5px;
}

.question-form .input-box.w-3 {
    width: calc(100% / 3 - 10px);
}

@media screen and (max-width: 600px) {
    .question-form .input-box.w-3 {
        width: 100%;
    }
}

.question-form .btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.error-page {
    padding: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .error-page {
        padding: 0;
    }
}

.error-page__error-number {
    width: 100%;
    color: #09773B;
    text-align: center;
    margin-bottom: 40px;
    font-size: 17rem;
    line-height: 100%;
}

@media screen and (max-width: 500px) {
    .error-page__error-number {
        font-size: 8rem;
    }
}

.error-page__text {
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .error-page__text {
        font-size: 16px;
    }
}

.error-page__text a {
    color: #09773B;
}

.catalog-sort-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 17px;
}

.catalog-sort-section.with-counter {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-sort-section .catalog-sort {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
}

@media screen and (max-width: 500px) {
    .catalog-sort-section .catalog-sort {
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
}

.catalog-sort-section .catalog-sort select {
    width: 285px;
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .catalog-sort-section .catalog-sort select {
        margin: 10px 0 0;
        width: 100%;
    }
}

.catalog-sort-section .products-count {
    font-size: 22px;
    line-height: 33px;
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .catalog-sort-section .products-count {
        display: none;
    }
}

.catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -5px;
}

@media screen and (max-width: 500px) {
    .catalog {
        margin: 0;
    }
}

.catalog__category {
    width: calc(100% / 4 - 10px);
    margin: 16px 5px;
}

@media screen and (max-width: 1024px) {
    .catalog__category {
        width: calc(100% / 3 - 10px);
    }
}

@media screen and (max-width: 780px) {
    .catalog__category {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 500px) {
    .catalog__category {
        width: 100%;
        margin: 10px 0;
    }
}

.catalog__category-image {
    background: #F9F9F9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    aspect-ratio: 16/9;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #F9F9F9;
    transition: .3s;
    border-radius: 2px;
}

@media screen and (max-width: 500px) {
    .catalog__category-image {
        padding: 5px;
    }
}

.catalog__category-name {
    font-size: 22px;
    line-height: 33px;
    color: #3A3A3A;
}

@media screen and (max-width: 500px) {
    .catalog__category-name {
        font-size: 18px;
        line-height: 100%;
    }
}

.catalog__category:hover .catalog__category-image {
    border-color: #09773B;
}

.catalog__product {
    padding: 30px 10px 10px;
    position: relative;
    margin: 5px;
    border: 1px solid #EDEDED;
    width: calc(100% / 4 - 20px);
    transition: .3s;
}

.catalog__product:hover {
    border-color: #09773B;
}

.catalog__product-tags {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
}

.catalog__product-tag {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
}

.catalog__product-tag.hit {
    background: #BE3030;
}

.catalog__product-favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 20;
}

.catalog__product-favorite img {
    position: absolute;
    top: 0;
    transition: .3s;
}

.catalog__product-favorite img.active {
    visibility: hidden;
    opacity: 0;
}

.catalog__product-favorite.active .active {
    visibility: visible;
    opacity: 1;
}

.catalog__product-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    aspect-ratio: 4/3;
    margin-bottom: 8px;
}

.catalog__product-articul {
    opacity: .6;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 2px;
}

.catalog__product-name {
    font-size: 18px;
    line-height: 22px;
    min-height: 45px;
    margin-bottom: 5px;
    display: inline-block;
}

.catalog__product-price {
    font-size: 26px;
    line-height: 39px;
    color: #009846;
}

.catalog__product-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}

.catalog__product-footer .btn {
    width: 100%;
    max-width: 125px;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.catalog__product-footer .btn img {
    margin-right: 7px;
}

.catalog--hits .slick-list {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .catalog--hits {
        padding: 0 30px;
    }

    .catalog--hits .slick-arrow.prev {
        left: 0;
    }

    .catalog--hits .slick-arrow.next {
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .catalog--hits {
        margin: 0;
    }

    .catalog--hits .catalog__product {
        margin: 0;
    }
}

.catalog--hits .catalog__product-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px 0;
}

.catalog--hits .catalog__product-footer .btn {
    margin: 0 0 0 auto;
}

@media screen and (max-width: 1024px) {
    .catalog--hits .catalog__product-footer .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 780px) {
    .catalog--hits .catalog__product-footer .btn {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 680px) {
    .catalog--hits .catalog__product-footer .btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .catalog--hits .catalog__product-footer .btn {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 380px) {
    .catalog--hits .catalog__product-footer .btn {
        margin: 0 auto;
    }
}

.catalog-page {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .catalog-page {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.catalog-page .filter-sidebar {
    width: 285px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .catalog-page .filter-sidebar {
        width: 100%;
    }
}

.catalog-page .main-catalog .catalog__product {
    width: calc(100% / 3 - 10px);
}

@media screen and (max-width: 1200px) {
    .catalog-page .main-catalog .catalog__product {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 1200px) {
    .catalog-page .main-catalog .catalog__product {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width: 620px) {
    .catalog-page .main-catalog .catalog__product {
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width: 1200px) {
    .catalog-menu {
        display: none;
    }
}

.catalog-menu__item {
    background: #F9F9F9;
    margin: 2px 0;
}

.catalog-menu__item .main-category {
    background: #F9F9F9;
    padding: 13px 13px 16px 13px;
    font-size: 18px;
    line-height: 22px;
    transition: .3s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: .3s;
    border-radius: 3px;
}

.catalog-menu__item .main-category svg {
    position: absolute;
    right: 20px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s;
}

.catalog-menu__item .main-category svg path {
    fill: #3A3A3A;
    transition: .3s;
}

.catalog-menu__item .main-category.active {
    background: #3A3A3A;
    color: #FFED00;
}

.catalog-menu__item .main-category.active svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.catalog-menu__item .main-category.active svg path {
    fill: #FFED00;
}

.catalog-menu__item .catalog-sub-menu {
    padding: 6px 13px;
    background: #F9F9F9;
    border-right: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    border-radius: 0 0 3px 3px;
    display: none;
}

.catalog-menu__item .catalog-sub-menu__item {
    margin: 10px 0;
}

.catalog-menu__item .catalog-sub-menu .category-name {
    font-weight: 300;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.catalog-menu__item .catalog-sub-menu .category-name::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: url(../img/icons/icon-list-arrow-green.svg) center no-repeat;
    margin-right: 5px;
    transition: .3s;
}

.catalog-menu__item .catalog-sub-menu .category-name.active {
    color: #009846;
    font-weight: 600;
}

.catalog-menu__item .catalog-sub-menu .category-name.active::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.catalog-menu__item .category-sub-menu-level-2 {
    padding: 10px 20px;
    display: none;
}

.catalog-menu__item .category-sub-menu-level-2 a {
    color: rgba(58, 58, 58, 0.6);
    font-weight: 300;
    margin: 10px 0;
    display: block;
}

.catalog-menu__item .category-sub-menu-level-2 a.active, .catalog-menu__item .category-sub-menu-level-2 a:hover {
    color: #009846 !important;
}

.catalog-filter-wrapper {
    margin-bottom: 10px;
}

.catalog-filter {
    border: 1px solid #EDEDED;
    border-radius: 3px;
    margin: 10px 0;
    padding: 0 0 16px;
}

@media screen and (max-width: 1200px) {
    .catalog-filter {
        display: none;
    }
}

.catalog-filter__item {
    padding: 16px;
    border-bottom: 1px solid #EDEDED;
}

.catalog-filter__item:last-child {
    border: none;
}

.catalog-filter__item-head {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.catalog-filter__item-head svg {
    position: absolute;
    right: 4px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s;
}

.catalog-filter__item-head svg path {
    fill: #3A3A3A;
    transition: .3s;
}

.catalog-filter__item-head.active svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.catalog-filter__item-body {
    padding: 16px 0 0;
}

.catalog-filter .check-box-container__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 10px 0;
    font-weight: 300;
}

.catalog-filter .check-box-container__item .check {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #EDEDED;
    margin-right: 7px;
}

.catalog-filter .check-box-container__item input {
    display: none;
    font-weight: 300;
}

.catalog-filter .check-box-container__item input:checked + .check {
    background: url(../img/icons/icon-checkbox.svg) center no-repeat;
}

.catalog-filter .filter-buttons-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
}

.catalog-filter .filter-buttons-box__btn {
    width: 100%;
    max-width: 120px;
    height: 43px;
    border-radius: 3px;
    transition: .3s;
}

.catalog-filter .filter-buttons-box__btn:hover {
    background: #009846;
    color: #fff;
}

.catalog-filter .filter-buttons-box .apply {
    background: #FFED00;
}

.catalog-filter .filter-buttons-box .apply:hover {
    background: #009846;
    color: #fff;
}

.filter-mobile-opener {
    border: 1px solid #EDEDED;
    padding: 8px 13px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    .filter-mobile-opener {
        display: none;
    }
}

.filter-mobile-opener svg {
    position: absolute;
    right: 20px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: .3s;
}

.filter-mobile-opener svg path {
    fill: #3A3A3A;
    transition: .3s;
}

.filter-mobile-opener.active svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pagintaion {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .pagintaion {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.pagintaion__item {
    width: 43px;
    height: 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #F9F9F9;
    border-radius: 3px;
    margin: 0 1px;
    transition: .3s;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media screen and (max-width: 500px) {
    .pagintaion__item {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

.pagintaion__item.active, .pagintaion__item:hover {
    background: #FFED00;
}

.pagintaion__item--prev {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.pagintaion__item--next {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.product-page {
    padding-top: 40px;
}

@media screen and (max-width: 500px) {
    .product-page {
        padding-top: 10px;
    }
}

.product-page .product-main {
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .product-page .product-main {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.product-page .product-slider {
    width: 50%;
    border: 1px solid #EDEDED;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .product-page .product-slider {
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }
}

.product-page .product-slider .slider {
    width: 100%;
    height: 570px;
    padding: 120px 50px 80px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .product-page .product-slider .slider {
        height: auto;
        padding: 60px 0 20px;
    }
}

.product-page .product-slider .slider-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-page .product-slider .slider .prev {
    left: -40px;
}

@media screen and (max-width: 1260px) {
    .product-page .product-slider .slider .prev {
        left: 0;
    }
}

.product-page .product-slider .slider .next {
    right: -40px;
}

@media screen and (max-width: 1260px) {
    .product-page .product-slider .slider .next {
        right: 0;
    }
}

.product-page .product-info {
    padding: 0 0 0 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .product-page .product-info {
        padding: 0;
    }
}

.product-page .product-info .articul {
    width: 100%;
    opacity: 0.4;
    margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .articul {
        text-align: center;
    }
}

.product-page .product-info .price {
    width: 100%;
    font-size: 32px;
    line-height: 47px;
    color: #009846;
    margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .price {
        margin: 0 0 10px 0;
        text-align: center;
    }
}

.product-page .product-info .cart-line {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
}

.product-page .product-info .cart-line .counter {
    margin-right: 40px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .cart-line .counter {
        margin: 0 0 10px 0;
    }
}

.product-page .product-info .cart-line .btn {
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 225px;
}

.product-page .product-info .cart-line .btn img {
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .product-page .product-info .cart-line {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.product-tabs {
    margin-top: 60px;
}

.product-tabs .tab_section__tab_container {
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
}

@media screen and (max-width: 400px) {
    .product-tabs .tab_section__tab_container {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.product-tabs .tab_section__tab {
    color: #EDEDED;
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px;
    margin: 0 20px;
}

@media screen and (max-width: 500px) {
    .product-tabs .tab_section__tab {
        font-size: 14px;
        padding: 0 5px;
        margin: 0 5px;
    }
}

.product-tabs .tab_section__tab.active {
    font-size: 28px;
    color: #09773B;
}

@media screen and (max-width: 500px) {
    .product-tabs .tab_section__tab.active {
        font-size: 18px;
    }
}

.product-tabs .tab_section__content_tab {
    padding: 20px 0 0;
}

.product-characteristics {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}

.product-characteristics-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #F9F9F9;
    margin: 10px 0;
}

.product-characteristics-item > div {
    padding: 10px 20px;
}

.product-characteristics-item .characteristic-name {
    width: 50%;
    color: #757472;
}

.product-characteristics-item .characteristic-data {
    width: 50%;
    background: #F9F9F9;
}

.viewed-products {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
}

@media screen and (max-width: 1250px) {
    .viewed-products {
        padding-bottom: 20px;
    }
}

.viewed-products .slick-list {
    width: 100%;
}

.viewed-products .slick-dots {
    top: 100%;
}

.viewed-products__item {
    width: calc(100% / 4);
    margin: 0 10px;
    border: 1px solid #EDEDED;
    border-radius: 3px;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 200px;
}

.viewed-products__item-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    transition: .3s;
}

@media screen and (max-width: 780px) {
    .viewed-products__item-content {
        opacity: 1;
    }
}

.viewed-products__item-content .articul {
    opacity: 0.4;
    font-size: 15px;
    line-height: 22px;
}

.viewed-products__item-content .name {
    font-size: 18px;
    line-height: 24px;
}

.viewed-products__item:hover {
    border-color: #09773B;
}

.viewed-products__item:hover .viewed-products__item-content {
    opacity: 1;
}
